

<table>
    <thead>
        <tr>
            <th>Request id</th>
            <th>Club</th>
            <th>Member</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cr of userClubRequests">
            <td>{{cr.id}}</td>
            <td>{{getClubName(cr.clubId)}}</td>
            <td>{{ personNames[cr.userId] }}</td>
            <td>    <span *ngIf="cr.status === 0">PENDING</span>
                <span *ngIf="cr.status === 1">ACCEPTED</span>
                <span *ngIf="cr.status === 2">DENIED</span></td>
            <td >
                <button *ngIf="cr.status === 0" class="accept" (click)="acceptRequest(cr)">Accept</button>
                <button *ngIf="cr.status === 0" class="decline" (click)="denyRequest(cr)">Decline</button>
            </td>
        </tr>
    </tbody>
</table>


<div class="chat-container">
    <a (mouseenter)="toggleChat(true)" 
      (mouseleave)="toggleChat(false)" class="fixed-circle">
      ? 
    </a>
  
    <div *ngIf="isChatOpen" class="chat-box">
      <p>{{chatMessage}}</p>
    </div>
</div>