<div>
    <form [formGroup]="equipmentForm" class="form-style">
        <div>    
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Name" required>
                <mat-error *ngIf="equipmentForm.get('name')?.invalid && equipmentForm.get('name')?.dirty">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Description" required></textarea>
                <mat-error *ngIf="equipmentForm.get('description')?.invalid && equipmentForm.get('description')?.dirty">
                    This field is required
                </mat-error>
            </mat-form-field>
            
            <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addEquipment()" mat-raised-button>Done</button>
            <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateEquipment()" mat-raised-button>Done</button>
        </div>
    </form>
</div>