<h2 mat-dialog-title>
  Add equipment to tour
  <button mat-icon-button (click)="onCancel()" style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <div id="equipment">
    <input class="search"
      type="text" 
      id="searchBox" 
      class="search" 
      placeholder="Search equipment..." 
      [(ngModel)]="searchQuery" 
      (input)="filterEquipment()"
    />
    <label *ngIf="searchQuery" class="search-label">
      Search results for "{{ searchQuery }}"
    </label>
    <div id="equipment-details">
      <div *ngFor="let eq of filteredEquipment" class="equipment-item">
        <label>
          <input 
            type="checkbox" 
            [checked]="selectedEquipment.includes(eq)" 
            (change)="toggleSelection(eq)"> 
          <span class="name">{{ eq.name }}</span>
        </label>
        <p class="description">{{ eq.description }}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="fixed-actions">
  <button class="save-btn" (click)="onSave()">Add selected items</button>
</mat-dialog-actions>
