#equipment {
  margin: 20px auto; 
  width: 80%; 
}

#equipment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  text-align: center; 
}

button[mat-icon-button] {
  background-color: transparent;
  color: white;
}



