<div id="equipment">
    <p>Tours</p>
    <hr>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Length in km</th>
                    <th>Tags</th>                    
                    <th>Archive</th>
                    <th><button color="primary" (click)="onAddClicked()" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tr of tours">
                    
                    <td>{{tr.name}}</td>
                    <td>{{tr.description}}</td>
                    <td>{{tr.difficulty}}</td>
                    <td>{{tr.price}}</td>
                    <td>
                        {{ 
                            tr.status === 0 ? 'Draft' : 
                            tr.status === 1 ? 'Published' : 
                            tr.status === 2 ? 'Archived' : 
                            '-' 
                        }}
                    </td>
                    <td>{{tr.lengthInKm}}</td>
                    
                    <td>{{ getTagNames(tr.tags).join(', ') }}</td>
                    <td>
                        <ng-container *ngIf="tr.status === 2; else archiveButton">
                            <button mat-icon-button color="primary" 
                                (click)="reactivateTour(tr)">
                                <mat-icon>replay</mat-icon> 
                            </button>
                        </ng-container>
                        <ng-template #archiveButton>
                            <button mat-icon-button color="primary" 
                                [disabled]="tr.status !== 1"
                                (click)="archiveTour(tr)">
                                <mat-icon>archive</mat-icon> 
                            </button>
                        </ng-template>
                    </td>                    
                    <td><button mat-raised-button color="primary" (click)="viewTourDetails(tr)">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="tourDetails">
        <xp-tour-details *ngIf = "shouldViewTour" (tourUpdated)="notifyTourUpdated($event)" [tour] = "selectedTour" [tourKeypoints]="selectedKeypoints"></xp-tour-details>
    </div>
</div>