<div id="equipment">
    <header><h1>Tours</h1></header>

    <div id="equipment-details">
        <div class="card-container" >
            <div *ngFor="let tr of tours" class="global-card" >
                <header><h3>{{ tr.name }}</h3></header>
                <p><strong>Description:</strong> {{ tr.description }}</p>
                <p><strong>Difficulty:</strong> {{ tr.difficulty }}</p>
                <p><strong>Price:</strong> ${{ tr.price }}</p>
                <p><strong>Status:</strong> 
                    {{ 
                        tr.status === 0 ? 'Draft' : 
                        tr.status === 1 ? 'Published' : 
                        tr.status === 2 ? 'Archived' : 
                        '-' 
                    }}
                </p>
                <p><strong>Length in km:</strong> {{ tr.lengthInKm }}</p>
                <p><strong>Tags:</strong> {{ getTagNames(tr.tags).join(', ') }}</p>
                
                <div class="card-actions">
                    <ng-container *ngIf="tr.status === 2; else archiveButton">
                        <button mat-icon-button color="primary" 
                            (click)="reactivateTour(tr)">
                            <mat-icon>replay</mat-icon> 
                        </button>
                    </ng-container>
                    <ng-template #archiveButton>
                        <button mat-icon-button color="primary" 
                            [disabled]="tr.status !== 1"
                            (click)="archiveTour(tr)">
                            <mat-icon>archive</mat-icon> 
                        </button>
                    </ng-template>
                    <button mat-raised-button color="primary" (click)="viewTourDetails(tr)">View</button>
                </div>
            </div>
        </div>

    </div>

    <div class="tourDetails">
        <xp-tour-details *ngIf="shouldViewTour" (tourUpdated)="notifyTourUpdated($event)" 
                         [tour]="selectedTour" [tourKeypoints]="selectedKeypoints" (distanceChanged)="onDistanceChanged($event)" >
        </xp-tour-details>
    </div>
</div>
