#equipment {
  margin: 20px auto; 
  width: 80%; 
}

#equipment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  text-align: center; 
}

button[mat-icon-button] {
  background-color: transparent;
  color: white;
}













host ::ng-deep mat-card-subtitle {
  font-size: 6px;
  color: gray;
}

:host ::ng-deep mat-chip {
  font-size: 6px;
  margin: 3px;
  color: white;
  background-color: #3f51b5;
}

mat-card-subtitle {
  margin-bottom: 1em;
  font-size: 10px;
  height: 2.5em;
  overflow: hidden;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between; 
  width: 22vw; 
  height: 54vh;
  border-radius: calc(40 * 1px);
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(162, 0, 255, 0.3); /* Senka iza cele kartice */
  overflow: hidden;
}

.card-image {
  width: 24vw; 
  height: 30vh;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: calc(38 * 1px) 0 0 0;
  background-color: white;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card-overlay {
  transform: translateY(0);
}

.card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  padding-bottom: 0;
  border-radius: calc(40*1px) 0 0 0;
  background-color: white;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card-header-text {
  width: 100%;
  max-height: 10em;
  height: 100%;
}

.card:hover .card-header {
  transform: translateY(0);
  height: fit-content;
  margin-bottom: 6px;
}

.card-title {
  font-size: clamp(1em, 5vw, 2em);
  margin: 0;
  line-height: 1.1;
  width: 100%;
  color: #6A515E;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 1vh;
}

.card-status {
  font-size: 1.25em;
  color: #6A515E;
  margin-left: 3%;
  opacity: 95%;
}

.card-footer {
  height: fit-content;
  padding: 0em 1em 2em 2em;
  margin: 0;
  color: #6A515E;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  opacity: 95%;
}

.card-footer-description {
  width: 75%;
  line-height: 1.1;
  font-size: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vh;
  margin: 0;
  padding: 2vh;
  list-style-type: none;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  flex-wrap: wrap; /* Allow buttons to wrap if necessary */
  width: 100%; /* Ensure the container spans the full width of the parent */
  margin-top: 2vh;
}

.card-bottom-button {
  background-color: #a36484;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: auto; /* Allow the button to stretch naturally */
  white-space: nowrap; /* Prevent the text from wrapping inside the button */
  overflow: hidden; /* Ensure the button doesn't overflow if the text is too long */
}

.card-bottom-button mat-icon {
  padding: 6px 13px;
  background-color: #a36484;
  color: white;
  margin-bottom: 1.5vh;
  border-radius: 5px;
}



.map-keypoint {
  width: 100%;
}


