<!-- 
<h2>Club Members</h2>

<div *ngIf="members && members.length > 0; else noMembers" class="member-cards">
    <div *ngFor="let member of members" class="member-card">
        <div class="member-image">
          
            <img *ngIf="member.imageUrl" [src]="getImage(member.imageUrl)" alt="Prof  pict" height="30" class="member-avatar" />
           
        </div>
        
        <div class="member-info">
            
            <div class="username">{{ member.username }}</div>
            
            
            <div class="name">{{ member.name }} {{ member.surname }}</div>
            
           
            <div class="email">{{ member.email }}</div>
            
         
            <div *ngIf="member.id === ownerId; else removeButton">
                <i class="fas fa-star" style="color: yellow;"></i> OWNER
            </div>

      
            <ng-template #removeButton>
                <button (click)="removeMember(member.id)" class="remove-button">
                    <i class="fas fa-user-minus"></i> Remove member
                </button>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #noMembers>
    <p>No members found.</p>
</ng-template>
<div class="chat-container">
    <a (mouseenter)="toggleChat(true)" 
    (mouseleave)="toggleChat(false)" class="fixed-circle">
      ? 
    </a>
  
    <div *ngIf="isChatOpen" class="chat-box">
      <p>{{chatMessage}}</p>
    </div>
  </div> -->
  <h2>Club Members</h2>

<div *ngFor="let member of members" class="member-cards">
    <div *ngIf="member.id === ownerId"  class="member-card owner-card">
        <!-- Prikaz vlasnika -->
     
        <div class="member-image">
            <img *ngIf="member.imageUrl" [src]="getImage(member.imageUrl)" alt="Prof pict" class="member-avatar" />
        </div>
        <div class="member-info">
            <div class="username">{{ member.username }}</div>
            <div class="name">{{ member.name }} {{ member.surname }}</div>
            <div class="email">{{ member.email }}</div>
            <div>
                <i class="fas fa-star" style="color: yellow;"></i> OWNER
            </div>
       
    </div>
    </div>
</div>

<div class="members-container">
<div *ngFor="let member of members"  >
    <div *ngIf="member.id !== ownerId" class="member-card">
        <!-- Prikaz ostalih članova -->
        <div class="member-image">
            <img *ngIf="member.imageUrl" [src]="getImage(member.imageUrl)" alt="Prof pict" class="member-avatar" />
        </div>
        <div class="member-info">
            <div class="username">{{ member.username }}</div>
            <div class="name">{{ member.name }} {{ member.surname }}</div>
            <div class="email">{{ member.email }}</div>
            <button (click)="removeMember(member.id)" class="remove-button">
                <i class="fas fa-user-minus"></i> Remove member
            </button>
        </div>
    </div>
</div>
</div>

<ng-template #noMembers>
    <p>No members found.</p>
</ng-template>
