<h1>My Objects</h1>
<div class="myobjects-container">
    <table class="objects-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Category</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of objects">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.image }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.latitude }}</td>
                <td>{{ item.publicStatus}}</td>
                <td>
                    <button mat-button (click)="editObject(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <xp-object-form [latitude]="selectedLatitude" 
                    [longitude]="selectedLongitude"
                    (objectCreated)="getObjects()"
                    [objectToEdit]="selectedObject"></xp-object-form>
</div>
<div class="map-container">
    <xp-map 
    (latitudeChanged)="updateLatitude($event)" 
    (longitudeChanged)="updateLongitude($event)"
    [objects] = 'objects' 
    [registeringObject]="true">
    </xp-map>
</div>
