<h1>Objects</h1>
<div class="map-container">
    <xp-map 
    #mapCmp
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (latitudeChanged)="updateLatitude($event)" 
    (longitudeChanged)="updateLongitude($event)"
    (objectClicked)="onObjectClicked($event)"
    [selectedObjectPoints] = 'objects' 
    [registeringObject]="true">
    </xp-map>
</div>
<!-- Floating form container -->
<div
  class="form-map-container"
  *ngIf="isFormVisible"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
>
  <form [formGroup]="objectForm" class="keypoint-form-div">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option
        *ngFor="let cat of categories"
        [value]="cat.id">
          {{cat.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label style="margin-bottom: 0;">Upload Image</mat-label>
    <input style="margin-bottom: 4px;"
      type="file"
      (change)="onFileSelected($event)"/>
    
      
      

    <!-- Conditionally show either "Create" or "Update" button -->
    <button
      mat-raised-button
      color="accent"
      *ngIf="!isEditing"
      (click)="createObject()"
    >
      Create Object
    </button>

    <button class="updButton"
      mat-raised-button
      color="primary"
      *ngIf="isEditing"
      (click)="updateObject()"
    >
      Update Object
    </button>

    <button class="delButton"
      mat-raised-button
      color="accent"
      *ngIf="isEditing"
      (click)="deleteObject()"
    >
      Delete Object
    </button>

    <!-- Cancel button only if editing -->
    <button
      mat-raised-button
      color="warn"
      *ngIf="isEditing"
      type="button"
      (click)="onCancelEdit()"
    >
      Cancel
    </button>
  </form>
</div>
