<h1>My Objects</h1>
<div class="map-container">
    <xp-map 
    #mapCmp
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (latitudeChanged)="updateLatitude($event)" 
    (longitudeChanged)="updateLongitude($event)"
    [selectedObjectPoints] = 'objects' 
    [registeringObject]="true">
    </xp-map>
</div>
<!-- Floating form container -->
<div
  class="form-map-container"
  *ngIf="isFormVisible"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
>
  <form [formGroup]="objectForm" class="keypoint-form-div">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option
        *ngFor="let cat of categories"
        [value]="cat.id">
          {{cat.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input style="margin-top: 1vh;"
      type="file"
      (change)="onFileSelected($event)"/>
      <mat-label style="margin-bottom: 1vh;">Upload Image</mat-label>

    <!-- Submit button -->
    <button
      mat-raised-button
      type="submit"
      color="accent"
      (click)="createObject()"
    >
      Create Object
    </button>
  </form>
</div>
