<div class="container-member">
    <div class="left-panel">
      
        <div *ngIf="club">
          <div class="club-logo">
            <!-- <p class="curved-text">{{ club.name }}</p> -->
            <!-- <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
              <path id="curve" d="M 50,70 A 100,100 0 0,1 220,80" fill="transparent" />
              <text fill="#333" font-size="40" font-weight="bold" text-transform="uppercase">
                <textPath href="#curve" startOffset="50%" text-anchor="middle">
                  {{ club.name }}
                </textPath>
              </text>
            </svg> -->
            <p class="club-Name">{{club.name}}</p>
            <img [src]="getImage(club.image)" class="club-image"/>
          </div>
          </div>

          <button 
          class="custom-btn" 
          (click)="selectComponent('xp-club-tour')">
          <i class="fas fa-map-marked-alt"></i> Tours
        </button>
      <button 
        class="custom-btn" 
        (click)="selectComponent('xp-club-members')">
        <i class="fas fa-users"></i> Members  
      </button>
       <button 
        class="custom-btn" *ngIf="currentUserId === club?.userId"
        (click)="selectComponent('xp-club-invitation')">
        <i class="fas fa-envelope-open-text"></i>  Invitations
      </button>
      <button 
          class="custom-btn" 
          (click)="selectComponent('xp-club-posts')"
          >
          <i class="fas fa-comments"></i> Dashboard
        </button>
        <button 
          class="custom-btn" *ngIf="currentUserId === club?.userId"   (click)="selectComponent('xp-club-join-request')"> 
          <i class="fas fa-user-check"></i> Join requests
        </button>
    </div>
  
   
    <div class="right-panel">
    
      <xp-club-members *ngIf="clubId !== null && selectedComponent === 'xp-club-members'"  [clubId]="clubId"  [ownerId]="club?.userId ?? 0"></xp-club-members>
       <xp-club-invitation 
       *ngIf="clubId !== null  && selectedComponent === 'xp-club-invitation'" [clubId]="clubId" >
      </xp-club-invitation>
    <!--  <app-component3 
        *ngIf="selectedComponent === 'comp3'" 
        [clubId]="clubId">
      </app-component3> -->
      <xp-club-tour *ngIf="clubId !== null && selectedComponent === 'xp-club-tour'" [ownerId]="club?.userId ?? 0" [clubId]="clubId" [clubTags]="club?.tags ?? 0">

      </xp-club-tour>
    <xp-club-posts *ngIf=" selectedComponent === 'xp-club-posts'" [clubId]="clubId ?? 0"></xp-club-posts>
    <xp-club-join-request *ngIf=" selectedComponent === 'xp-club-join-request'" ></xp-club-join-request>


    </div>
  
  
</div>

  
<div class="chat-container">
  <a (mouseenter)="toggleChat(true)" 
    (mouseleave)="toggleChat(false)" class="fixed-circle">
    ? 
  </a>

  <div *ngIf="isChatOpen" class="chat-box">
    <p>{{chatMessage}}</p>
  </div>
</div>

