<main class="full-height-content">
  
<div class="container">
    <!-- Leva strana: 30% -->
    <div class="left-panel">
      
        <div *ngIf="club">
          <!-- <div class="club-logo" >
                 
           <img [src]="club.image" alt="{{ club.name }} image" class="club-image" /> 
              <div>
                <p>{{ club.name }}</p>
                <p>{{ club.description }}</p>
             </div>
            </div> -->
          </div>

          <button 
          class="custom-btn" >
          Tours
        </button>
      <button 
        class="custom-btn" 
        (click)="selectComponent('xp-club-members')">
        Members
      </button>
       <button 
        class="custom-btn" 
        (click)="selectComponent('xp-club-invitation')">
        Invitations
      </button>
      <button 
          class="custom-btn" >
          Achievements
        </button>
        <button 
          class="custom-btn" >
          Join requests
        </button>
    </div>
  
    <!-- Desna strana: 70% -->
    <div class="right-panel">
      <!-- <xp-club-members 
        *ngIf="selectedComponent === 'comp1'" 
        [clubId]="clubId">
      </xp-club-members> -->
      <xp-club-members *ngIf="clubId !== null && selectedComponent === 'xp-club-members'"  [clubId]="clubId"></xp-club-members>
       <xp-club-invitation 
       *ngIf="clubId !== null  && selectedComponent === 'xp-club-invitation'" [clubId]="clubId">
      </xp-club-invitation>
    <!--  <app-component3 
        *ngIf="selectedComponent === 'comp3'" 
        [clubId]="clubId">
      </app-component3> -->
    </div>
  </div>
  
</main>
<!-- <h1>CLUB DETAILS</h1>

<h2>Club Members</h2>
<table>
    <thead>
        <tr>
            <th>Member Username</th>
            <th></th> 
        </tr>
    </thead>
    <tbody *ngIf="members && members.length > 0; else noMembers">
        <tr *ngFor="let member of members">
            <td>{{ member.username }}</td>
            <td> <button  (click)="removeMember(member.id)">Remove member</button></td> 
        </tr>
    </tbody>
</table>

<ng-template #noMembers>
    <p>No members found.</p>
</ng-template>


<h2>Invite Members to join club</h2>
<table>
    <thead>
        <tr>
            <th>Member Username</th>
            <th></th> 
        </tr>
    </thead>
    <tbody *ngIf="membersForInvite && membersForInvite.length > 0; else noMembersForInvite">
        <tr *ngFor="let memberForInvite of membersForInvite">
            <td>{{ memberForInvite.username }}</td>
            <td>
                <button (click)="sendClubInvitation(memberForInvite.id)">Send Club Invitation</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noMembersForInvite>
    <p>No members found.</p>
</ng-template>

<h2>Proccessing club invitations</h2>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Club ID</th>
        <th>Member ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitation of invitations">
        <td>{{ invitation.id }}</td>
        <td>{{ invitation.clubId }}</td>
        <td>{{ getMemberName(invitation.memberId) }}</td>
        <td>PROCCESSING</td>
      </tr>
    </tbody>
  </table> -->