<div class="containeR-member">
    <div class="left-panel">
      
        <div *ngIf="club">
          <div class="club-logo">
            <!-- <p class="curved-text">{{ club.name }}</p> -->
            <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
              <path id="curve" d="M 50,70 A 100,100 0 0,1 220,80" fill="transparent" />
              <text fill="#333" font-size="40" font-weight="bold" text-transform="uppercase">
                <textPath href="#curve" startOffset="50%" text-anchor="middle">
                  {{ club.name }}
                </textPath>
              </text>
            </svg>
            <img [src]="getImage(club.image)" class="club-image"/>
            <p class="club-description"><i>{{club.description}}</i></p>
          </div>
          </div>

          <button 
          class="custom-btn" >
          Tours
        </button>
      <button 
        class="custom-btn" 
        (click)="selectComponent('xp-club-members')">
        Members
      </button>
       <button 
        class="custom-btn" 
        (click)="selectComponent('xp-club-invitation')">
        Invitations
      </button>
      <button 
          class="custom-btn" >
          Achievements
        </button>
        <button 
          class="custom-btn" >
          Join requests
        </button>
    </div>
  
    <!-- Desna strana: 70% -->
    <div class="right-panel">
      <!-- <xp-club-members 
        *ngIf="selectedComponent === 'comp1'" 
        [clubId]="clubId">
      </xp-club-members> -->
      <xp-club-members *ngIf="clubId !== null && selectedComponent === 'xp-club-members'"  [clubId]="clubId"  [ownerId]="club?.userId ?? 0"></xp-club-members>
       <xp-club-invitation 
       *ngIf="clubId !== null  && selectedComponent === 'xp-club-invitation'" [clubId]="clubId">
      </xp-club-invitation>
    <!--  <app-component3 
        *ngIf="selectedComponent === 'comp3'" 
        [clubId]="clubId">
      </app-component3> -->
    </div>
  
  
  </div>
<!-- <h1>CLUB DETAILS</h1>

<h2>Club Members</h2>
<table>
    <thead>
        <tr>
            <th>Member Username</th>
            <th></th> 
        </tr>
    </thead>
    <tbody *ngIf="members && members.length > 0; else noMembers">
        <tr *ngFor="let member of members">
            <td>{{ member.username }}</td>
            <td> <button  (click)="removeMember(member.id)">Remove member</button></td> 
        </tr>
    </tbody>
</table>

<ng-template #noMembers>
    <p>No members found.</p>
</ng-template>


<h2>Invite Members to join club</h2>
<table>
    <thead>
        <tr>
            <th>Member Username</th>
            <th></th> 
        </tr>
    </thead>
    <tbody *ngIf="membersForInvite && membersForInvite.length > 0; else noMembersForInvite">
        <tr *ngFor="let memberForInvite of membersForInvite">
            <td>{{ memberForInvite.username }}</td>
            <td>
                <button (click)="sendClubInvitation(memberForInvite.id)">Send Club Invitation</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noMembersForInvite>
    <p>No members found.</p>
</ng-template>

<h2>Proccessing club invitations</h2>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Club ID</th>
        <th>Member ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitation of invitations">
        <td>{{ invitation.id }}</td>
        <td>{{ invitation.clubId }}</td>
        <td>{{ getMemberName(invitation.memberId) }}</td>
        <td>PROCCESSING</td>
      </tr>
    </tbody>
  </table> -->