<div class="background-component">
    <h1>About us</h1>
    <h2>We are a team of 15 ambitious students united by our passion for learning and innovation, working on an app as part of our Software Design course project. Our journey is about honing our skills, improving teamwork, and pushing our limits to grow as future professionals. Along the way, we've evolved from teammates to friends, building a supportive environment where collaboration thrives. Together, we're turning our ideas into reality while fostering personal growth and shared success.</h2>
</div>