<div id="equipment">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p>Necessary equipment</p>
        <button class="edit-button" (click)="openEditDialog(equipment)">Add</button>
    </div>
    <hr>
    <div id="equipment-details">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eq of equipment; let i = index">
                    <td>{{eq.name}}</td>
                    <td>{{eq.description}}</td>
                    <td>
                        <mat-icon class="delete-icon" (click)="deleteEquipment(i,eq)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <img [src]="'assets/images/tag' + (tour.tags[0] + 1) + '.jpg'" class="card-image">
    
    
    <div class="card-overlay">
        <div class="card-header">

            <div class="card-header-text">
                <div class="card-title">{{ tour.name }}</div>
                <div class="card-status">Difficulty: {{ tour.difficulty }}</div>
                <div class="card-status">Length: {{ tour.lengthInKm | number: '1.2-2'}}km</div>
                <span class="card-status" *ngIf="tour.status === 0">Status: Draft</span>
                <span class="card-status" *ngIf="tour.status === 1">Status: Published</span>
                <span class="card-status" *ngIf="tour.status === 2">Status: Archived</span>

            </div>
          
        </div>
        <div class="card-footer">
            <div>
                <mat-card-subtitle>
                    <span *ngFor="let tag of getTagNames(tour.tags); let isFirst = first">
                        <mat-chip style="font-size: 8px">{{ tag }}</mat-chip>
                    </span>
                </mat-card-subtitle>
            </div>
            <div class="card-footer-description">Price: ${{tour.price}}</div>
            <div class="card-footer-description">{{tour.description}}</div>
        </div>

    </div>
    
    
</div>
