body {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh; 
    margin: 0; 
    padding: 20px; 
}

#equipment {
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}

#equipment-details {
    display: flex;
    flex-direction: columns;
    align-items: center;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}

.edit-button {
    background-color: #3f51b5; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #0056b3; /* Tamnija nijansa plave kada se pređe mišem */
}
.tour-info-sidebar {
    width: 30%;
    background-color: #f8f9fa;
    padding: 16px;
    border-right: 1px solid #ddd;
}
.delete-icon {
    cursor: pointer;
    color: #f44336; /* Red for delete */
    transition: color 0.3s;
}

.delete-icon:hover {
    color: #d32f2f;
}

/*Tour card*/
.card {
    position: fixed; /* Fixes the card on the screen */
    top: 150px; /* Adds some spacing from the top of the viewport */
    left: 20px; /* Adds some spacing from the left of the viewport */
    width: 22vw; /* Keeps the same width */
    height: 54vh; /* Keeps the same height */
    border-radius: calc(40 * 1px);
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(162, 0, 255, 0.3); /* Shadow effect */
    overflow: hidden;
    background-color: white; /* Ensure the card has a white background */
    z-index: 10; /* Ensures it stays above other elements */
}
  
  .card-image {
    width: 24vw; 
    height: 30vh;
  }
  
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: calc(38 * 1px) 0 0 0;
    background-color: white;
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card-overlay {
    transform: translateY(0);
  }
  
  .card-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    padding-bottom: 0;
    border-radius: calc(40*1px) 0 0 0;
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card-header-text {
    width: 100%;
    max-height: 10em;
    height: 100%;
  }
  
  .card:hover .card-header {
    transform: translateY(0);
    height: fit-content;
    margin-bottom: 6px;
  }
  
  .card-title {
    font-size: clamp(1em, 5vw, 2em);
    margin: 0;
    line-height: 1.1;
    width: 100%;
    color: #6A515E;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1vh;
  }
  
  .card-status {
    font-size: 1.25em;
    color: #6A515E;
    margin-left: 3%;
    opacity: 95%;
  }
  
  .card-footer {
    height: fit-content;
    padding: 0em 1em 2em 2em;
    margin: 0;
    color: #6A515E;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    opacity: 95%;
  }
  
  .card-footer-description {
    width: 75%;
    line-height: 1.1;
    font-size: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  
