<div class="container">
    <div class="top-container">
        <button class="return-button" (click)="returnToAll()">Return</button>
    </div>
    <div class="main-container" *ngIf="problem">
        <div class="problem-info-section">
            <div class="problem-info">
                <p><strong>PROBLEM ID</strong></p>
                <p>#{{problem.id}}</p>
                <br>
                <p><strong>CREATED BY</strong></p>
                <p>{{userFullNames[problem.userId]}}</p>
                <br>
                <p><strong>CATEGORY</strong></p>
                <p>{{problem.category}}</p>
                <br>
                <p><strong>PRIORITY</strong></p>
                <p>{{problem.priority}}</p>
                <br>
                <p><strong>DATE CREATED</strong></p>
                <p>{{problem.time | date: 'dd. MMMM yyyy. HH:mm'}}</p>
                <br>
                <p><strong>STATUS</strong></p>
                <p>{{problem.isActive ? 'OPEN' : 'CLOSED'}}</p>
                <br>
            </div>  
        </div>
    
    
        <div class="comment-section">
            <div class="problem-description-container">
                <p><strong>PROBLEM DESCRIPTION</strong></p>
                <p>{{problem.description}}</p>
                <br>
            </div>
            <div class="comment" *ngFor="let comment of problem.comments">
                <div class="comment-header">
                  <div  class="profile-pic" >
                  </div>
                  <div class="commenter-info">
                    <h4 class="commenter-name">{{ userFullNames[comment.userId] }}, {{roles[comment.userId]}}</h4>
                    <span class="comment-date">{{ comment.timeSent | date: 'dd. MMMM yyyy. HH:mm' }}</span>
                  </div>
                </div>
                <p class="comment-text">{{ comment.text }}</p> 
            </div>
            <div *ngIf="problem.isActive"  class="add-comment-container">
                <p><strong>Add new comment:</strong></p>
                <div class="new-comment-input-container">
                  <textarea (input)="onCommentInput($event)" class="new-comment-text-input" type="text" placeholder="Write your comment here" [value]="newComment.text" >
                  </textarea>
                  <button class="submit-button" (click)="postComment()">Send</button>
                </div>
              </div>
              <!-- <div *ngIf="problem.isActive"  class="close-problem-container" >
                <button class="close-problem-button"  (click)="toggleProblemStatus()">Close problem</button>
            </div> -->
            <div *ngIf="problem.isActive && user?.role === 'tourist'" class="close-problem-container">
                <button class="close-problem-button" (click)="toggleProblemStatus()">Close problem</button>
            </div>
            
        </div>
    </div>

    <div class="modal" *ngIf="isModalOpen" class="add-last-comment">
        <div class="modal-content">
            <p><strong>Add new comment before closing:</strong></p>
            <textarea
                (input)="onCommentInput($event)"
                class="new-comment-text-input"
                placeholder="Write your comment here"
                [value]="newComment.text">
            </textarea>
            <div class="modal-buttons">
                <button class="submit-button" (click)="submitAndClose()">Submit & Close</button>
                <button class="cancel-button" (click)="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="chat-container">
    <a (mouseenter)="toggleChat(true)" 
      (mouseleave)="toggleChat(false)" class="fixed-circle">
      ? 
    </a>
  
    <div *ngIf="isChatOpen" class="chat-box">
      <p>{{chatMessage}}</p>
    </div>
  </div>