<label>Add Problem</label>
<form [formGroup]="problemForm">
    <div>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" type="text"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                  {{ priority.label }}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <button  color="primary" type="submit" (click)="addProblem()" mat-raised-button>Done</button>
    </div>
</form>


<div class="chat-container">
  <a (mouseenter)="toggleChat(true)" 
    (mouseleave)="toggleChat(false)" class="fixed-circle">
    ? 
  </a>

  <div *ngIf="isChatOpen" class="chat-box">
    <p>{{chatMessage}}</p>
  </div>
</div>