div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.mat-icon {
    vertical-align: middle;
}

label {
    display: block;  
    text-align: center;
    margin: 10px 0; 
    font-size: 20px;
}

form {
    margin: 20px;
  }