<div id="problems" *ngIf="isLoggedIn">
    <p>Problems</p>
    <hr>
    <div id="problem-details">
    <table>
        <thead>
            <th>Category</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Time</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of problems"> 
                <td>{{p.category}}</td>
                <td>{{p.description}}</td>
                <td>{{p.priority}}</td>
                <td>{{p.time}}</td>
                <td>
                    <button class="open-ticket-button" (click)="openTicket(p)" mat-icon-button>
                        <mat-icon>chat</mat-icon>
                    </button>
                </td>  
                <td *ngIf="user.role == 'tourist'">
                    <button color="accent" (click)="p.id ? deleteProblem(p.id) : null" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
 
            </tr>
            <tr *ngIf="user.role == 'tourist'">
                <button color="primary" (click)="onAddClick()"  mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </tr>
        </tbody>
    </table>
</div>
<xp-problem-form *ngIf="showProblemForm" (problemAdded)="onProblemAdded()" ></xp-problem-form>
</div>