<div id="header">
  <div class="logo">
    <a mat-raised-button [routerLink]="['/']" style="margin-right: 3vh;">
      <img src="assets/images/logo.png" alt="Logo" >
    </a>
  </div>
    
  
    <div class="content">
        <div id="buttons">
            <button *ngIf="user && user.username === ''" mat-raised-button color="accent" [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" mat-raised-button color="accent" (click)="onLogout()">Logout</button>
          </div>
        
          <div class="user-content" *ngIf="user && user.username !== ''">
            <button mat-icon-button class="notification-button" (click)="toggleNotifications()">
              <mat-icon class="notification-icon">notifications</mat-icon>
            </button>
            <xp-notifications *ngIf="showNotifications" (toggleNotifications)="toggleNotifications()"></xp-notifications>
          </div>
        
          <div class="user-content" [routerLink]="['profile']" *ngIf="user && (user.role === 'tourist' || user.role === 'author')">
            <mat-icon class="account-icon">account_circle</mat-icon>
       <!--    <span class="user-text">account</span>--> 
          </div>
        
          <div class="user-content" [routerLink]="['account']" *ngIf="user && (user.role === 'administrator')">
            <mat-icon class="account-icon">account_circle</mat-icon>
       <!--    <span class="user-text">account</span>--> 
          </div>
        </div>
    </div>
    
  