<div mat-dialog-content class="encounterContent">
  <ng-container *ngIf="activationSuccess; else encounterContent">
    <p>Encounter successfully activated!</p>
  </ng-container>
  <ng-template #encounterContent>
  <ng-container *ngIf="encounter; else noEncounter" >
    <label style="font-size: 1.5rem; font-weight: bold;">{{ encounter.title }}</label>
    <mat-label >Description: {{ encounter.description }}</mat-label>
    <mat-label>XP: {{ encounter.xp }}</mat-label>
    <mat-label>Status: {{ encounter.status }}</mat-label>
    <mat-label>Type: {{ encounter.type }}</mat-label>
  
    <div *ngIf="encounter.type === 'Social'">
      <mat-label>Required Participants: {{ encounter.socialData?.requiredParticipants }}</mat-label><br>
      <mat-label>Radius: {{ encounter.socialData?.radius }}</mat-label>
    </div>
  
    <div *ngIf="encounter.type === 'HiddenLocation'">
      <mat-label>Activation Radius: {{ encounter.hiddenLocationData?.activationRadius }}</mat-label><br>
      <img [src]="getImage(encounter.hiddenLocationData?.imageUrl)" alt="Item Image" height="100">
    </div>
  
    <div *ngIf="encounter.type === 'Misc'">
      <mat-label>Action Description: {{ encounter.miscData?.actionDescription }}</mat-label>
    </div>
  </ng-container>
  <ng-template #noEncounter>
    <p>Encounter does not exist for this location.</p>
  </ng-template>
</ng-template>
</div>
<div mat-dialog-actions class="encounterButtons">
  <button mat-button *ngIf="encounter" (click)="activateEncounter()">Activate</button>
  <button mat-button (click)="closeDialog()">Close</button>
</div>