
  
.cards-container {
    display: flex; 
    justify-content: space-between; 
    align-items: stretch;
    gap: 1.5rem; 
    margin: 4rem auto;
    max-width: 75rem;
}
  
.card {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: justify;
    flex: 1; 
    transition: transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
}
  
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(100, 41, 132, 0.5), 
                0 0 20px rgba(100, 41, 132, 0.3); 
}

  
.card-icon {
    font-size: 1.5rem;
    color: #4daeedff;
    margin-bottom: 3rem;
    display: block;
    margin: 0 auto;
}

.card h3 {
    font-size: 1rem; 
    margin-bottom: 3vh; 
    margin-left: 5vh;
    margin-right: 5vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
}

.card p {
    margin-bottom: 3vh; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.cards-title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #642984; 
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0; 
    text-align: center; 

}