<div class="cards-title">
    <h2>Why are we here?</h2>
</div>

<div class="cards-container">
    <div class="card">
      <mat-icon class="card-icon">flight</mat-icon>
      <h3>Enhancing Travel Experiences</h3>
      <p>Provide travelers with seamless access to guided tours tailored to their interests.</p>
    </div>

    <div class="card">
        <mat-icon class="card-icon">event</mat-icon>
        <h3>Simplifying Planning</h3>
        <p>Offer a one-stop solution for users to discover, book, and manage tours with ease.</p>
      </div>
  
    <div class="card">
      <mat-icon class="card-icon">accessibility</mat-icon>
      <h3>Bridging Accessibility Gaps</h3>
      <p>Make expert-guided tours available to a wider audience, ensuring affordability.</p>
    </div>

    <div class="card">
        <mat-icon class="card-icon">lightbulb</mat-icon>
        <h3>Leveraging Technology</h3>
        <p>Use advanced features and personalized recommendations to enrich the experience.</p>
      </div>
  
    <div class="card">
      <mat-icon class="card-icon">people</mat-icon>
      <h3>Supporting Local Experts</h3>
      <p>Empower local guides to connect with travelers and grow their reach.</p>
    </div>
  
  </div>