

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #3f51b5;
  margin-top: 2vh;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #3f51b5;
}

.container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  margin-top: 40px; 
}

form {
  flex: 1; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 70vh;
  margin-left: 45vh;
}

mat-form-field {
  width: 100%; 
  margin-bottom: 20px; 
}

.tags-container {
  flex: 0 0 250px; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-right: 40vh;
}

mat-selection-list {
  max-height: 42vh; 
  overflow-y: auto; 
}

button {
  align-self: flex-end; 
  margin-top: 10px;
  background-color: #3f51b5; 
  color: white;
}



