/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .quiz-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quiz-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    z-index: 0;
  }
  
  .quiz-left-content {
    position: absolute;
    left: 10%;
    text-align: left;
    z-index: 1;
    margin-bottom: 10px;
    color: #f5f5f5; 
    animation: slideInLeft 1s ease forwards;
  }
  
  .discover-title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .quiz-subtitle {
    font-size: 1.2rem;
    margin: 32px 0 40px;
  }
  
  .quiz-buttons {
    display: flex;
    gap: 20px;
  }
  
  .quiz-btn {
    background-color: #c099da;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: slideInLeft 1.2s ease forwards;
  }
  
  .quiz-btn:hover {
    background-color: #9b7ab6;
  }
  
  .learn-more-btn {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.1rem;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 2px;
    transition: color 0.3s, border-bottom 0.3s;
    animation: slideInLeft 1.5s ease forwards;
  }
  
  .learn-more-btn:hover {
    color: #bfb7b7;
    border-bottom: 2px solid #bfb7b7;
  }
  
  .quiz-description {
    position: absolute;
    right: 8%;
    top: 35%;
    max-width: 650px;
    font-size: 1.2rem;
    z-index: 2;
    animation: slideInRight 0.8s ease forwards;
  }
  
  .quiz-points {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 5px;
    color: #f5f5f5;
  }
  
  .quiz-points li {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 560;
  }
  
  /* Animations */
  @keyframes slideInLeft {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Teze - Slide In */
  .slide-in-teze {
    animation: slideInRight 0.8s ease forwards;
  }
  