<div  class="tourDetailsDiv">
    <h1>{{tour.name}}</h1>
    <p>{{tour.description}}</p>

    <h2>Tour Keypoints</h2>
    <button color="accent" (click)="showMapForTour(tour)" mat-raised-button>View map</button>
    <div class="overlay" *ngIf="shouldDisplayMap" class="map-container" >
        <xp-map-for-tour [tour]="tour" (onCloseMap)="closeMapForTour()"></xp-map-for-tour>
    </div>

    <div class="add-createdkp-tour-div">
   
    <table  class="keypoints-table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of keyPoints;">
                
                <td>{{ item.name }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.latitude }}</td>
                <td>{{ item.description }}</td>
                <td><div class="imgContainer"><img [src]="getImage(item.image)" alt="Item Image" height="100"></div></td>
                <td> {{item.publicStatus}}</td>
                <td>
                   
                </td>
               
            </tr>
            <tr><button class="create-new-btn" (click) = "onCreateNew()" color="primary"  mat-flat-button>
               Create new
            </button></tr>
        </tbody>
    </table>
  <div class="form-div"> <xp-keypoint-form [tourKeyPoints]="keyPoints" (tourUpdated) = "notifyKeypointAdded($event)" *ngIf="shouldCreateNew" [tourToAdd] = "tour" [shouldAddKeypoint] = "shouldAddKeypoint" (tourUpdated)="notifyTourUpdated()" [registerObjRoute]="registerObjRoute"></xp-keypoint-form></div>
</div>
  
</div>

