
.background-component {
  height: 100vh;  
  width: 100vw;  
  background: url('../../../../../background_pictures/s1.jpg') no-repeat center center; 
  background-size: cover; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: #fbfafa; 
}

h1 {
  font-size: 4rem; 
  color: #fbfafa; 
  margin-bottom: 10vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 2rem; 
  color: #fbfafa; 
  margin-bottom: 10vh; 
  font-family: 'Poppins', sans-serif;
}

