
<div class="chatbot-page">
<div class="chatbot-container">

<div class="chatbot-section">
    <div class="chatbot-section-content">
    <div class="chatbot-image-div">
        <img class="chatbot-image" src="assets/images/chatbot.svg"/>
    </div>
    <div class="question-answer">
    <h1>{{this.currentQuestion}}</h1>
   <xp-bubble [answer] = "this.answer"></xp-bubble>
</div>
</div>
</div>
<div class="questions-section">
    <div class="questions-section-content">
        <h1>Questions</h1>
        <button class="question-btn" (click) = "ask(question)" *ngFor="let question of currentLevel">{{ question }}</button>
    </div>
</div>
</div>
</div>

