
.chatbot-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot-container{
    display: flex;
   
    width: 80%;
    height: 80vh;
    margin-top: 4vh;
    border: 0.3vh solid #BFA8D7;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    animation: fadeIn 0.3s ease-in forwards;

   
}


.chatbot-section-content{
    display: flex;
    margin-left: 14vh;
    
   
}

.chatbot-section{
    display: flex;
    
    align-items: center;
    background-color: #ecdaff;
    width: 50%;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    
   
}

.chatbot-image-div{
    cursor: pointer;
}
.question-answer{
    display: flex;
    flex-direction: column;
    margin-top: -5vh;
    
}


.question-answer h1{
    font-size: large;
}


.questions-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #bcdbff;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    gap: 2vh;
    
}

.questions-section-content{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
   
   
}

.question-btn{
    animation: fadeIn 0.3s ease-in forwards;
}

.back-btn{
    animation: fadeIn 0.3s ease-in forwards;
}

.search-div{
    animation: fadeIn 0.3s ease-in forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.chatbot-image-div{
    height: 40vh;
}

.question-btn{
    font-size: x-large;
    width: 100%;
}

.back-btn{
    margin-top: 1vh;
}

.search-div{
    display: flex;
    gap: 1vh;
    justify-content: center;
    
}

.mute-btn{
    height: 4vh;
}