
.chatbot-page {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    background: url('background_pictures\gif3.gif') no-repeat center center fixed; /* Putanja do GIF-a */
    background-size: cover;
  
  }
  
  .chatbot-container {
    display: flex;
    width: 80%;
    margin-top: 4vh;
    border: none;
    border-radius: 0;
    animation: fadeIn 0.3s ease-in forwards;
    box-shadow: none;
    background: none;
  }
  .chatbot-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    background-color: none;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
  
    
    font-family: 'Poppins', sans-serif;
  }
  
  .mute-btn {
    background-color: #a36484; 
    border: none;
    cursor: pointer;
    width: 75px;  
    height: 40px;  
    border-radius: 50%; 
    margin-bottom: 2vh;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
  }
  .mute-btn:hover {
    background-color: #bf788f; 
    transform: scale(1.05);   
  }
  
  .mute-btn mat-icon {
    font-size: 1.5rem; 
    color: #ffffff;  
  }
  .chatbot-image-div {
    cursor: pointer;
    width: 100%;
  }
  
  .chatbot-image {
    width: 100%;
    height: auto;
  }
  
  .chatbot-right {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0;
    
    background-color: none;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    animation: fadeIn 0.3s ease-in forwards;
  }
  
  .answer-bubble {
    padding: 2vh;
  }
  
  .questions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
    background: none; /* Uklanja pozadinu sekcije sa pitanjima */
    
  }
  
  .search-div {
    display: flex;
    align-items: center;
    gap: 1vh;
    animation: fadeIn 0.3s ease-in forwards;
  }
  
  .search-div input[type="text"] {
    width: 25vw; 
    padding: 1vh 2vh;
    font-size: 1rem;
    border-radius: 2vh; 
    outline: none;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #eebce5;
  }
  .search-btn {
    background-color: #a36484; 
    border: none;
    cursor: pointer;
    border-radius: 50%; 
    font-size: 1.2rem;
    padding: 0.5vh 1vh; 
    display: flex;
    width: 50px;
    height: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
  }
  .search-btn:hover:not(:disabled) {
    background-color: #bf788f; 
    transform: scale(1.05); 
  }
  .search-btn:disabled{
    background-color: #ccc;
    cursor:not-allowed;
    opacity: 0.8;
    transform: none;
    transition: none;
    pointer-events: none;
  }
  .search-btn mat-icon {
    font-size: 1.2rem;  
    color: #ffffff;  
  }
  .questions-section-content {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    background: none; /* Uklanja pozadinu sekcije sa pitanjima */
    
    
  }
  .questions-section-content h1 {
    margin-bottom: 1vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .question-btn {
    font-size: 1.3rem;
    background-color:#d8b8f8;  
    color: #ffffff;
    border: 0.3vh solid #9b7494;
    width: 200px;           
    height: 50px; 
    border-radius: 8px;
    margin-bottom: 2vh;
    cursor: pointer;
    width: 100%;
    animation: fadeIn 0.3s ease-in forwards;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, border-color 0.3s;
  }
  .question-btn:hover {
    background-color: #bf788f; 
    border: 0.3vh solid #eebce5;
    color:#424040;
    transform: scale(1.05); 
  }

  .chatbot-title {
    font-size: 2.0rem;
    font-weight: bold; 
    color:#e2caf9;
    text-align: center; 
    font-family: 'Poppins', sans-serif; /* Font */
    cursor: pointer; 
    animation: fadeInTitle 1s ease-in-out; 
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  .chatbot-title:hover {
    transform: scale(1.1); /* Uvećanje naslova pri hoveru */
    color: #bf788f; /* Promena boje pri hoveru */
  }
  
  /* Definicija animacije ulaska */
  @keyframes fadeInTitle {
    from {
      opacity: 0; /* Početna nevidljivost */
      transform: translateY(-20px); /* Početno pomeranje prema gore */
    }
    to {
      opacity: 1; /* Postepeni prikaz */
      transform: translateY(0); /* Vraćanje na originalnu poziciju */
    }
  }
  .back-btn {
    background-color: #a36484; 
    border: none;
    cursor: pointer;
    height: 40px;  
    border-radius: 50px;
    margin-bottom: 2vh;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Poppins', sans-serif;
}

.back-btn:hover {
  background-color: #bf788f;
  transform: scale(1.05); 
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  a.fixed-circle {
    display: none !important;
  }
  .chat-container a.fixed-circle {
    display: none !important;
  }

.root-level .question-btn{
  font-size: 1.8rem;
  height: 60px;
  transform: scale(1.1) rotate(1deg);
}


.no-results { 
  display: flex;
  align-items: center;
  justify-content: center; /* Centriranje i horizontalno i vertikalno */
  text-align: center;
  font-size: 2rem; /* Prilagođena veličina fonta */
  font-weight: bold; /* Istaknut tekst */
  color: #a36484; /* Naglašena boja */
  margin: 20px auto; /* Centrirano na stranici */
  animation: fadeIn 1s ease-in-out; /* Animacija za lep efekat prikaza */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}