form {
    display: flex;
    align-self: center;
    justify-content:space-between;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 1vh;
  }
  
  button {
    align-self: center;
    padding: 1vh 2px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  