<div id="posts" class="container">
    <p>Blog Posts</p>
    <hr>
    <div id="post-details">
        <div *ngFor="let post of posts" class="post-card">
            <mat-card class="mat-elevation-z3 primary">
                <mat-card-header>
                    <div mat-card-avatar class="img-container">
                        <img [src]="getImage(post.imageUrl)" alt="{{ post.title }}" class="image">
                    </div>
                    <mat-card-title class="secondary">{{ post.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <markdown>{{ post.description }}</markdown>
                </mat-card-content>
                <div class="date-container">{{ post.createdAt | date: 'short' }}</div>
                <mat-card-actions>
                    <button *ngIf="user && user.role === 'author' && user.id === post.userId " color="secondary" (click)="onEditClicked(post)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="user && user.role === 'author' && user.id === post.userId" color="warn" (click)="onDeletePostClicked(post.id || 0)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button color="accent" [routerLink]="['/aboutPost', post.id]" mat-icon-button>
                        <mat-icon>info</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="add-button-container">
        <button *ngIf="user && user.role === 'author'" color="primary" (click)="onAddClicked()" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        <xp-post-form *ngIf="shouldRenderForm" [shouldEdit]="shouldEdit" [post]="selectedPost" (postUpdated)="getPosts()"></xp-post-form>
    </div>
    <router-outlet></router-outlet>
</div>
