
<div class="mykeypoints-page">

<div class="mykeypoints-container">
    

    <table class="keypoints-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of keyPoints">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.latitude }}</td>
                <td>{{ item.description }}</td>
                <td><img [src]="getImage(item.image)" alt="Item Image" height="100"></td>
                <td>
                    <ng-container *ngIf="item.publicStatus === Status.PRIVATE; else nonEditableStatus">
                      <select (change)="onStatusChange($event, item)">
                        <option [value]="Status.PRIVATE" [selected]="item.publicStatus === Status.PRIVATE">Private</option>
                        <option [value]="Status.REQUESTED_PUBLIC">Request to Make Public</option>
                      </select>
                    </ng-container>
                    <ng-template #nonEditableStatus>
                      {{ getStatusLabel(item.publicStatus) }}
                    </ng-template>
                </td>
                <td>
                    <button color="primary" (click)="onEditClicked(item)"  mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
           
        </tbody>
    </table>
     <xp-keypoint-form *ngIf="shouldEdit" (keypointsUpdated)="getKeyPoints()" [shouldEdit]="shouldEdit" [keypoint] = "selectedKeyPoint" [registeringObj]="registeringObj"></xp-keypoint-form>
  
</div>
</div>
