table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    overflow: hidden; 
}

thead tr {
    background-color: #538edb;
    color: #ffffff;
    text-align: left;
}

.keypoints-table img {
    max-width: 150px; 
    max-height: 150px; 
    border-radius: 4px;
    
}

th, td {
    padding: 12px 15px;
    font-size: 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.mykeypoints-container{
    margin-top: 2vh;
    gap: 5%;
}

.mykeypoints-page{
    width: 150%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.equal-height {
    height: 45px; 
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color:  #ffffff;
}

.description-column {
    max-width: 200px;
}

  