<div class="main">
    <div class="organize-tour-div" *ngIf="isOwner">

    </div>

    <div>
        <div class="header">
          <h2 class="club-tours-title">Exclusive Club Tours at Discounted Prices</h2>
          <p class="club-tours-description">Explore handpicked destinations with your club members and enjoy exclusive discounts. Adventure awaits!</p>
          
          <button 
          class="new-tour-button" 
          [style.background-image]="'url(' + getImage('plane.gif') + ')'"
      >
          + Organize New Tour
      </button>
          </div>
        <div class ="cards" >
            <div class="tour-card" *ngFor="let ct of clubTours">
                <img [src]="'assets/images/tag' + (getTagNumber(ct.tags?.[0] || '') + 1)  + '.jpg'" 
                  class="tour-image"
                />
                <div class="tour-content">
                  <h3 class="tour-title">{{ct.title}}</h3>
                  <p class="tour-description">
                    {{ct.description}}
                  </p>
                  <div class="tour-info">
                    <div>
                      <span class="tour-price">{{ct.touristIds.length}}</span> people are interested
                      <div class="tour-reviews">
                     
                          <span class="difficulty">
                            <span *ngIf="ct.difficulty === 'Moderate'">🌱 Easy</span>
                            <span *ngIf="ct.difficulty === 'medium'">🌳 Medium</span>
                            <span *ngIf="ct.difficulty === 'Hard'">🏔️ Hard</span>
                          </span>
                         
                      </div>
                
                    </div>

                    <div class="tour-price-container">
                      <div class="price-line">
                        <span class="original-price">{{ct.price }}$</span> <!-- Precrtana cena -->
                        <span class="discount">-{{ct.discount}}%</span> <!-- Popust -->
                      </div>
                      <span *ngIf="ct.price && ct.discount" class="final-price">
                        {{
                          ct.price - (ct.price * (ct.discount / 100))
                        }}$
                      </span>
                      </div>
                    
                    
                       <button class="tour-button"  (click)="addToCart(ct)">Buy now</button>
                    
                  </div>
                  <p class="tour-disclaimer"></p>
                </div>
              </div> 
        </div>
         
    </div>
</div>
