.main{
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.organize-tour-filters{
  position: relative;
  width: 22%;
  left:7%;
  top: 5%;
  background-color: #ffffff;
  height: 90%;
  border-radius: 15px;
  transition: width 0.3s ease, right 0.3s ease;
}
.organize-tour-filters.shrinked{
  width: 0%;
  transition: width 0.3s ease, right 0.3s ease;
}


.organize-tour-form{
  width: 63.25%;
  height: 90%;
  position: absolute;
  display: flex;
  top: 5%;
  left:29.75%;
  background-color: #ffffff;
  flex-direction: row;
  border-radius: 15px;
  transition: width 0.3s ease, left 0.3s ease;
}
.organize-tour-form.expanded{
  position:relative;
  width: 80%;
  left: 10%;
  transition: width 0.3s ease, left 0.0s ease; /* Dodajte transition za glatkiji prelaz */
}
.organize-tour-overlay{
    position: fixed; 
    display:flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); /* Poluprozirna pozadina */
    z-index: 1000; 
}

::ng-deep .fixed-circle{
  z-index: 500 !important;
}

.organize-tour-cards{
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 20px; /* Razmak između kartica */
  width: 100%;
  background-color: white;
  overflow: hidden;
  background-color: #f9f9f9;
}

.organize-tour-card{
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 14px;
  height: 100%;
}
.organize-tour-tour-list{
  position: absolute;
  top: 7.5%;
  left:0%;
  width: 52%;
  height: 79%;
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 2%;
  margin-left: 3%;
  /* border: 1px solid #6c757d; */
  background-color: #f9f9f9;
  border-radius: 15px;
}
.organize-tour-div{
  height: 2%;
}
.organize-tour-selected-tour-info{
  background-color: #ffffff;
  position: absolute;
  width: 38%;
  right: 2%;
  top: 7.5%;
  height: 85%;
  border-radius: 15px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fc;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

  }

  .club-tours-title {
    font-family: 'Arial', sans-serif; /* Elegantan sans-serif font */
    font-size: 2rem; /* Veći i istaknutiji naslov */
    font-weight: bold; /* Podebljan tekst */
    color: #a36484; /* Tamnoplava boja za ozbiljan ton */
    text-align: center; /* Naslov centriran na sredini */
    margin-top: 20px; /* Razmak iznad naslova */
    margin-bottom: 10px; /* Razmak ispod naslova */
    text-transform: uppercase; /* Sva slova velikim slovima */
    letter-spacing: 1.5px; /* Proširenje slova za bolji efekat */
}

.club-tours-description {
    font-family: 'Georgia', serif; /* Klasičan serif font za opis */
    font-size: 1rem; /* Nešto manja veličina teksta od naslova */
    font-style: italic; /* Italik za sofisticiran izgled */
    color: #34495e; /* Tamno siva boja za dobar kontrast */
    text-align: center; /* Celo poravnanje centrirano */
    line-height: 1.6; /* Veći razmak između redova za lakše čitanje */
    margin-top: 0; /* Uklanjanje nepotrebnog razmaka iznad */
    margin-bottom: 20px; /* Razmak ispod za bolju separaciju od ostatka stranice */
}



  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kartice u redu */
    gap: 20px; /* Razmak između kartica */
    width: 100%;
    background-color: white;
  }
  .tour-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    font-size: 14px;
    overflow: hidden;
  }
  
  .tour-image {
    width: 250px;
    object-fit: cover;
  }
  .tour-difficulty-span{
    font-size: 1.25em;

  }
  .tour-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .tour-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .tour-description {
    color: #6c757d;
    margin: 10px 0;
    font-style:unset;
  }
  
  .tour-info,.tour-info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  .tour-info2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -15%;
    margin: 15px 0;

  }
  
  .tour-price {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
  }
  
  .tour-reviews {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6c757d;
    font-size: 12px;
  }
  
  .difficulty {
    color: #090701;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .review-count {
    font-size: 12px;
  }
  
  .tour-button {
    display: flex;
    background-color: #a36484;
    color: white;
    border: none;
    margin-top: 20%;
    border-radius: 5px;
    font-size: 14px;
    justify-content: center; /* Centriranje teksta horizontalno */
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 85px;
    transition: background-color 0.3s ease;
  }
  
  .tour-button:hover {
    background-color: #b24179;;
  }
  
  .tour-disclaimer {
    color: #6c757d;
    font-size: 12px;
    margin: 0;
  }
  

  /**/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .new-tour-button {
    /* Pozadinska slika */
    background-size: cover; /* Pokriva celo dugme */
    background-repeat: no-repeat; /* Sprečava ponavljanje slike */
    background-position: center -20px;/* Centrira sliku u okviru dugmeta */
    
    /* Dimenzije dugmeta */
    height: 60px; /* Visina dugmeta */
    width: 220px; /* Širina dugmeta */

    /* Tekst */
    color: white; /* Boja teksta */
    font-size: 25; /* Veličina fonta */
    font-weight: bold; /* Podebljan tekst */
    text-align: left; /* Centriranje teksta */
    line-height: 70px; /* Poravnava tekst po vertikali */

    /* Stil dugmeta */
    border: none; /* Bez ivica */
    border-radius: 5px; /* Zaobljeni uglovi */
    cursor: pointer; /* Pokazivač kao na dugmetu */
    overflow: hidden; /* Sprečava sadržaj van granica dugmeta */
}
  
  .new-tour-button:hover {
    background-color: #7b1fa2;
  }
.expand-button{
  width: 2.5%; /* Postavlja širinu dugmeta */
  height: 4%;
  border-radius: 15px !important;
  border: none !important;
  display: flex; /* Koristi flexbox za centriranje sadržaja */
  align-items: center; /* Vertikalno centriranje */
  justify-content: center;
  position: absolute;
  top: 11%;
  left: 28%;
}
mat-icon {
  font-size: 20px; /* Veličina ikone */
  color: #333;
  /* margin-top: 1.5%; */
  z-index: 100000; 
  overflow: visible;
  position: relative;
  /* top: 10%; */
}
.select-tour-p{
  position: relative;
  top: 5%;
  left: 2%;
  font-size: 16px;
}

.selected-tour-title{
  position: relative;
  width: 90%;
  left:5%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.selected-tour-description {
  position: relative;
  width: 90%;
  height: 20%;
  left:5%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.selected-tour-description textarea {
  resize: none; /* Onemogućava korisniku ručno povećavanje polja */
}
.selected-tour-difficulty{
  position: relative;
  width: 90%;
  left:5%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.organize-tour-card.selected {
  border: 2px solid #a36484; /* Primer stila za selektovanu turu */
  background-color: #f7e7fc;
}
.organize-tour-card :hover{
  cursor: pointer;
  
}
.mat-mdc-form-field{
  width: 100%;
}
.search-and-filter-container{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.search-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 0; /* Da zauzme samo prostor koliko mu treba */
  margin-top: 10%;
}

.filter-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 1; /* Da zauzme preostali prostor */
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
mat-selection-list {
  max-height: 22vh; 
  min-width: 200px;
  width: 100%;
  overflow-y: auto; 

}
mat-form-field {
  flex: 1; 
  display: flex; 
  align-items: stretch; 
}
mat-form-field.readonly-input input[readonly] {
  pointer-events: none; /* Onemogućava interakciju sa inputom */
  user-select: none;    /* Sprečava selektovanje teksta */
  background-color: transparent;
}

mat-form-field.readonly-input input[readonly]:focus {
  outline: none; /* Uklanja outline kada je input fokusiran */
} 

.mat-form-field-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; 
}


.tags-container {
  flex: 250px; 
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-bottom: 10%;
}
.tags-container p{
  font-size: 15px; /* Veličina fonta */
  color: #333;     /* Boja teksta */
  font-family: 'Poppins', sans-serif; /* Font porodica (ako koristite Poppins, možete je dodati u HTML) */
  font-weight: 400; /* Debljina fonta */
  line-height: 2.5; /* Visina linije, kako bi tekst bio čitljiviji */
  margin: 10px 0;   /* Gornji i donji razmak */
  text-align: center; /* Centriranje teksta */
  background-color: #f4f4f4; /* Pozadinska boja */
  border-radius: 5px; /* Zaobljeni uglovi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blagi senka oko paragrafa */
}

.search{
  margin-top: 5px;
  width: 100px;
  background-color: #a36484 !important;
  color: white; 
}

.clear{    
  margin-top: 5px;
  margin-left: 20px;
  width: 100px;
  background-color: #a36484 !important;
  color: white; 
}
.buttons-div{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.tag-type-button{
  background-color: #a36484 !important;
  width: 50%;
  color: white; 
  border:none !important;
  margin-bottom: -2%;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
  
}

.tag-type-button:hover{
  translate: 0 !important;
}

.tag-type-button.active{
  background-color: #f9f9f9 !important;
  border: 1px solid #f4f4f4;
  color:#333;
}

.close-filters-button {
  position: absolute;
  top: 0%;
  right: 4%;
  width: 4%;
  height: 4%;
  background-color: white !important;
  border: none !important;
  visibility: hidden; /* Dugme je nevidljivo na početku */
  opacity: 0; /* Dugme je potpuno providno */
  pointer-events: none; /* Dugme nije interaktibilno */
  transition: opacity 0.3s ease 0.3s, visibility 0s 0.3s; /* Čeka 0.3s pre nego što postane vidljivo */
}

.close-filters-button.show {
  visibility: visible; /* Dugme postaje vidljivo */
  opacity: 1; /* Dugme postaje potpuno neprovidno */
  pointer-events: auto; /* Dugme postaje interaktibilno */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Očekuje 0.3s kašnjenje za opacity */
}

.close-filters-button:hover{
  translate: none !important;
  transition: none !important;
  transform: none !important;
}
.select-tour-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin: 20px 0 10px 20px; /* Gornji i donji razmak */
  padding: 0 10px; /* Unutrašnji razmak sa strane */
}


/* xdd */
.filters-button {
  display: inline-block;
  text-align: center;
  color: white;
  border: none;
  margin-top: 5px;
  width: 100px;
  background-color: #a36484 !important;
  color: white; 
  padding: 10px 20px;
  font-size: auto;
  cursor: pointer;
  width: auto;
  height: 4.5%;
  margin: 0 20px 20px; /* Razmak od naslova i kartica */
  transition: background-color 0.3s ease;
  position: relative;
  left: 1.5%;
  top: 2%;


}
.filter-icon{
  color: white;
}

.input-row {
  display: flex;
  width: 90%;
  position:relative;
  left: 5%;
  gap: 16px; /* Razmak između polja */
  margin-bottom: 2%;
}

.half-width {
  flex: 1;
}

.organize-cancel-button-row{
  height: 10%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 90%;
  left: 5%;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 2%;
}
.organize-button{
  background-color: #a36484;
  color: white;
  margin-left: 2%;

}
.cancel-organize-button{
  background-color: #a36484;
  color: white;

}

.select-button{
  background-color: #a36484;
  color: white;
  position:relative;
  margin: 0 0% 0% auto; /* Gura dugme ka desnom uglu */
  display: block; /* Da se margin pravilno primeni */
}
  
  




  .tour-price-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .price-line {
    display: flex;
    align-items: center;
    gap: 10px; /* Razmak između originalne cene i popusta */
  }
  
  .original-price {
    font-size: 14px;
    text-decoration: line-through; /* Precrtavanje originalne cene */
    color: #6c757d;
  }
  
  .discount {
    font-size: 14px;
    color: red; /* Crveni tekst za popust */
    font-weight: bold;
  }
  
  .final-price {
    font-size: 18px; /* Veći font za konačnu cenu */
    font-weight: bold;
    color: #28a745; /* Zelena boja za konačnu cenu */
  }
  /* SweetAlert popup stil */
.swal-popup {
  width: 600px !important;  /* Fiksna širina modala */
  height: 400px !important; /* Fiksna visina modala */
  background-color: transparent !important; /* Transparentna pozadina */
  box-shadow: none; /* Uklanja senku */
  position: relative; /* Omogućava postavljanje sadržaja preko slike */
  padding: 0; /* Uklanja padding */
}

/* Tekst i dugmadi */
.swal-title {
  position: relative; /* Pozicionira sadržaj iznad slike */
  z-index: 1; /* Osigurava da bude iznad slike */
   /* Bele boje za tekst */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Dodaje senku na tekst */
  color:#090701 !important;
}
::ng-deep .mat-h2{
color: #090701 !important;
}
/* Dodatno podešavanje za dugmadi */
.swal-actions {
  display: flex;
  justify-content: space-between;
}
