<div *ngIf="infoPerson">
    <h2>Edit Profile</h2>
    <form (ngSubmit)="updateProfile()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput id="name" [(ngModel)]="infoPerson.name" name="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput id="surname" [(ngModel)]="infoPerson.surname" name="surname" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profile Picture URL</mat-label>
            <input matInput id="profilePicture" [(ngModel)]="infoPerson.profilePicture" name="profilePicture">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Biography</mat-label>
            <textarea matInput id="biography" [(ngModel)]="infoPerson.biography" name="biography"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Motto</mat-label>
            <input matInput id="motto" [(ngModel)]="infoPerson.motto" name="motto">
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" type="submit">Save Changes</button>
    </form>
</div>
