@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

html,body {
    height: 100vh;
    width: 100%;
    background: url('../../../../../background_pictures/s1.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    color: #fbfafa;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.placeholder {
    font-style: italic;
    color: black;
    opacity: 0.8;
}
.animated-greeting h1 {
    margin-top: 90px; 
    font-size: 3rem;
    font-weight: 800;
    color: #f1f1f1;
    margin-bottom: 20px;
    transition: transform 0.3s, color 0.3s;
}

.animated-greeting h1:hover {
    transform: scale(1.1);
    color: #5a67d8; /* Promena boje prilikom prelaska miša */
}
.edit-profile-container {
    padding: 15px;
    background: rgba(255, 255, 255, 0.6); /* Blago providna bela pozadina */
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

.edit-image img {
    width: 100px; /* Manja slika tokom uređivanja */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.edit-field {
    margin-bottom: 5px;
}
.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.5), rgba(245, 245, 245, 0.6));
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    margin: 0;
}

.card {
    background-color: transparent;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
}

h2 {
    color: #333;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease, box-shadow 0.3s;
}

.image:hover {
    transform: scale(1.2);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.profile-info {
    margin: 20px 0;
    color: #444;
    text-align: left;
    font-size: 1.2em;
}

button {
    display: inline-block;
    margin: 10px 5px;
    padding: 8px 20px;
    color: #fff;
    background-color: rgb(192, 153, 218);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px  rgb(192, 153, 218);
    font-weight: 600;
}

button:hover {
    background-color:  rgb(192, 153, 218);
    transform: translateY(-3px);
}
.form-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* Stilizacija mat-form-field za lepši izgled */
mat-form-field {
    width: 100%; /* Puna širina polja */
    margin-bottom: 0px; /* Razmak između polja */
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(255, 255, 255, 0.8); /* Blago providna bela pozadina */
    border-radius: 8px; /* Zaobljeni uglovi */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Blagi senka efekat */
}

.mat-input-element {
    font-size: 0.8rem; /* Veći font za bolju čitljivost */
    padding: 7px 11px; /* Veći padding za udobnije kucanje */
    color: #333; /* Tamnija boja teksta */
}

/* Fokus na polju */
.mat-form-field-appearance-fill .mat-form-field-flex:focus-within {
    box-shadow: 0 0 10px rgba(90, 103, 216, 0.6); /* Svetla senka prilikom fokusa */
}

textarea.mat-input-element,
input.mat-input-element {
    font-size: 14px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9); /* Svetlija pozadina unutar polja */
    border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.ad-container {
    position: fixed;
    top: 14%;
    left: 2%;
    width: 500px;
    height: 140px;
    background: rgba(255, 255, 255, 0.95); /* Beležimo laganu transparentnost */
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    animation: slideIn 0.8s ease-in-out;
    z-index: 1000;
    overflow: hidden;
    padding: 10px;
    border-radius: 12px;
}

.ad-container.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.ad-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    gap: 10px; /* Razmak između slike i teksta */
}

.ad-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('https://i.pinimg.com/736x/9e/19/2b/9e192b681a87705e4cb7a32dd11002b9.jpg'); Slika kao pozadina */
    background-image: url('https://img.freepik.com/premium-vector/london-vector-with-tourists-travel-theme-cartoon-people-city_507816-540.jpg?w=996'); /* Slika kao pozadina */

    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Samo pozadina ima transparentnost */
    filter: brightness(70%);
    z-index: -1;
}

.ad-image {
    width: 150px; /* Širina levog pravougaonika */
    height: 100%; /* Visina odgovara kartici */
    background-size: cover; /* Pokriva ceo prostor bez izobličenja */
    background-position: center; /* Pozicija slike */
    /* border-radius: 2px 0 0 2px; Zaobljeni uglovi levo */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Blaga senka */
}



.ad-text {
    flex: 1; /* Tekst zauzima preostali prostor */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centriraj tekst vertikalno */
    text-align: left;
    color: #333;
}

.ad-text p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 10px 0; /* Razmak između teksta i dugmeta */
    font-weight: 600; /* Boldovan tekst */
    color: #222;
}

.ad-text .highlight {
    font-weight: 800; /* Još jače naglašavanje ključnih delova */
   /* color: #0056b3; /* Tamnoplava za naglašavanje */
   color: #3882d1;

}

.ad-text button {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 16px;
    margin-left: 5px;
    border-radius: 8px;
    background: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: flex-start; /* Dugme levo ispod teksta */
}

.ad-text button:hover {
    background: #003f8a; /* Tamnija plava prilikom hovera */
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none; /* Bez pozadine */
    border: none; /* Bez ivica */
    font-size: 18px; /* Veličina simbola */
    cursor: pointer;
    color: #555; /* Početna boja X-a */
    transition: transform 0.2s ease, color 0.3s ease; /* Dodajemo animacije samo za X */
    z-index: 1000; /* Visok indeks za prikaz iznad svega */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover efekat - menja se samo boja X-a */
.close-btn:hover {
    color: #000; /* Promena boje X-a na crnu */
    transform: scale(1.1); /* Povećanje X-a */
}

/* Klik efekat - X menja boju u ljubičastu */
.close-btn:active {
    color: rgb(192, 153, 218); /* Ljubičasta boja samo za X pri kliku */
    transform: scale(1); /* Vraćanje na normalnu veličinu */
}

.fixed-circle {
    position: fixed;
    bottom: 7vh;
    right: 8vh;
    width: 10vh;
    height: 10vh;
    background-color: rgb(192, 153, 218);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 9999; 
    color: white; 
    font-size: 5vh; 
    font-weight: bold;
  }
  
  .fixed-circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  
  .chat-box {
    position: fixed;
    bottom: 21vh; 
    right: 7vh;
    width: 200px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-width: #4b464a;
    border-width: 5px;
    border: 1px solid #ef7ad9;
    z-index: 9999;
  }
  
  .chat-box::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 4vh;
    width: 4vh;
    height: 4vh;
    background-color: #fff;
    border-left: 1px solid #ef7ad9;
    border-bottom: 1px solid #ef7ad9;
    transform: rotate(-45deg);
  }
  
