.dialog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.dialog-content h1{
    text-align: center;
}
.dialog-content{
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}