<div class="coupon-form-container">
    <!-- Leva sekcija -->
    <ng-container *ngIf="viewMode && existingCoupon; else createMode">
      <!-- Leva sekcija za prikaz -->
      <div class="coupon-left-section">
        <!-- Naslov sa nazivom ture -->
        <h2>Coupon for {{ tour?.name || 'All Tours' }}</h2>
    
        <!-- Promo kod -->
        <div class="promo-code">
          PROMO CODE: {{ existingCoupon.promoCode }}
        </div>
      </div>
    
      <!-- Desna sekcija -->
      <div class="coupon-right-section">
        <!-- Popust -->
        <div class="discount">
          {{ existingCoupon.discountPercentage }}% OFF
        </div>
    
        <!-- Datum važenja -->
        <div class="expiration-date">
          Validity period: 
          <span>
            {{ existingCoupon.expirationDate ? (existingCoupon.expirationDate | date) : 'Unlimited' }}
          </span>
        </div>
      </div>
    </ng-container>
    
    <ng-template #createMode>
    <div class="coupon-left-section">
      <h2 *ngIf="tour; else allToursTitle">Coupon for {{ tour.name }}</h2>
        <ng-template #allToursTitle>
          <h2>Coupon for All Tours</h2>
        </ng-template>
      <p>
        Create a special coupon for your tour to attract more customers! Set the discount percentage, 
        optionally add an expiration date, and let your customers enjoy the deal.
      </p>
    </div>
  
    <!-- Desna sekcija -->
    <div class="coupon-right-section">
      <form [formGroup]="couponForm" (ngSubmit)="submitCoupon()">
  
        <!-- Procenat popusta -->
        <mat-form-field appearance="outline">
          <mat-label>Discount (%)</mat-label>
          <input matInput type="number" formControlName="discount" placeholder="Enter discount percentage" />
        </mat-form-field>
        <div *ngIf="discountInvalid" class="error-message">
          Discount is required and must be between 1 and 100.
        </div>
  
        <!-- Datum važenja -->
        <mat-form-field appearance="outline">
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="expirationDate" placeholder="Select expiration date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="dateInvalid" class="error-message">
            Expiration date must be in the future.
          </div>
        <!-- Dugme za kreiranje kupona -->
        <button type="submit" class="submit-btn">
          Create Coupon
        </button>
      </form>
    </div>
  </ng-template>
  </div>
  

  <div class="chat-container">
    <a (mouseenter)="toggleChat(true)" 
      (mouseleave)="toggleChat(false)" class="fixed-circle">
      ? 
    </a>
  
    <div *ngIf="isChatOpen" class="chat-box">
      <p>{{chatMessage}}</p>
    </div>
  </div>