<form [formGroup]="bundleForm" class="form-container">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button type="submit" color="primary" (click)="loadTours()">Add tour</button>
    </div>

    <div *ngIf="tours && tours.length > 0" class="tours-list">
        <mat-list>
          <mat-list-item *ngFor="let tour of tours">
            <mat-checkbox 
                    (change)="onTourChange($event, tour)"
                    [checked]="tour.id ? bundleForm.get('tourIds')?.value?.includes(tour.id) : false">
                    <span>{{ tour.name }}</span>
                    <span class="price">{{ tour.price | currency }}</span>
                </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>

      <p>Total price: {{totalPrice}}</p>
    
  
    <div class="button-container">
        <button mat-raised-button type="submit" color="primary" (click)="addBundle()" >Add</button>
    </div>
  </form>
  