<div class="close-icon" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</div>
<div class="app-review-container">
  <h3 *ngIf="shouldEdit">Tell us what you think about the app</h3>
  <h3 *ngIf="!shouldEdit">Your review</h3>
  <form [formGroup]="appReviewForm" class="review-form" (ngSubmit)="addReview()" *ngIf="shouldEdit">
    <div class="star-rating">
      <mat-icon 
      *ngFor="let star of [1,2,3,4,5]; let i = index" 
      (click)="setRating(i + 1)"
      (mouseover)="hoverRating = i + 1"
      (mouseout)="hoverRating = 0"
      [ngClass]="{'selected': (appReviewForm.value.grade ?? 0) > i, 'hovered': hoverRating > i}"
      >
        {{ (appReviewForm.value.grade ?? 0) >= star ? 'star' : 'star_border' }}
      </mat-icon>
    </div>
    <mat-error class="error-text" *ngIf="appReviewForm.get('grade')?.hasError('required')">
      Rating is required
    </mat-error>
    
    <mat-form-field appearance="outline" class="comment-field">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment"></textarea>
      <mat-error *ngIf="appReviewForm.get('comment')?.hasError('required')">
        Comment is required
      </mat-error>
    </mat-form-field>

    <button class="done-button" type="submit" mat-raised-button [disabled]="appReviewForm.invalid">
      Done
    </button>
  </form>

  <div *ngIf="!shouldEdit" class="review-display">
    <div class="review-header">
      <div class="star-rating readonly">
        <mat-icon 
          *ngFor="let star of [1,2,3,4,5]" 
          [ngClass]="{'selected': (appReviewForm.value.grade ?? 0) >= star}"
        >
          {{ (appReviewForm.value.grade ?? 0) >= star ? 'star' : 'star_border' }}
        </mat-icon>
      </div>
      <div class="edit-icon" (click)="shouldEdit = true">
        <mat-icon>edit</mat-icon>
      </div>
    </div>

    <div class="review-content">
      <p class="comment-text" *ngIf="appReviewForm.value?.comment">
        {{ appReviewForm.value.comment }}
      </p>
    </div>
  </div>
</div>
