div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.mat-icon {
    vertical-align: middle;
}

.review-display {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .review-display p {
    font-size: 16px;
    margin: 4px 0;
    color: #333;
  }
  
  .review-display strong {
    color: #555;
  }

  .review-display p:first-of-type {
    font-size: 18px;
    font-weight: bold;
  }
  