.tables-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4%; 
    margin-top: 2vh; 
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}

.comment-field {
    margin-top: 20px;
    padding: 20px;border-radius: 8px;  /* Round the corners */
    width: 80%;  /* Adjust width as needed */
  }

