<div>
    <div class="tables-container">
        <div class="objectsRequests">
          <label>Object Requests</label>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of objects">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <button color="primary" (click)="showDeclineField(item, 'Object')" mat-icon-button>
                    <mat-icon>remove-circle</mat-icon>
                  </button>
                </td>
                <td>
                  <button color="primary" (click)="acceptObject(item)" mat-icon-button>
                    <mat-icon>done</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="KeyPointsRequests">
          <label>KeyPoint Requests</label>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of keyPoints">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <button color="primary" (click)="showDeclineField(item, 'KeyPoint')" mat-icon-button>
                    <mat-icon>remove-circle</mat-icon>
                  </button>
                </td>
                <td>
                  <button color="primary" (click)="acceptKeyPoint(item)" mat-icon-button>
                    <mat-icon>done</mat-icon>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
    
    <div class="comment-field" *ngIf="declineItem !== null">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Reason for decline</mat-label>
          <input matInput [(ngModel)]="declineReason">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="confirmDecline(declineItem)">Submit</button>
        <button mat-button (click)="cancelDecline()">Cancel</button>
    </div>
</div>
