<div class="objectsRequests">
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Option</th>
        </thead>
        
        <tbody>
            <tr>
                <td>cao</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="KeyPointsRequests">
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Option</th>
        </thead>
        
        <tbody>
            <tr>
                <td>cao</td>
            </tr>
        </tbody>
    </table>
</div>
