<div class="overlay" *ngIf="shouldDisplayMap" class="map-container" >
  <xp-map-for-tour [tour]="selectedTour" (onCloseMap)="closeMapForTour()"></xp-map-for-tour>
</div>

<div class="tour-container">
  <header><h1 mat-typography class="tour-title">
    Available Tours
  </h1></header>

  <div class="tours-scroll">
    <div *ngFor="let tour of tours" class="tour-card">
      <mat-card class="tour-item">
        <mat-card-content class="tour-item-content">
        
          <!-- Image covering the entire card -->
          <img [src]="'assets/images/tag' + (tour.tags[0] + 1) + '.jpg'" class="card-image">
          
          <!-- Tour details -->
          <div class="tour-details">
            <div class="tour-info-left">
              <h3 mat-typography>{{ tour.name }}</h3>
              <p>{{ tour.description }}</p>
              <p>Difficulty: {{ tour.difficulty }}</p>
              <p class="card-status" *ngIf="tourExecutions.get(tour.id || -1)?.status === 0">Status: Active</p>
              <p class="card-status" *ngIf="tourExecutions.get(tour.id || -1)?.status === 1">Status: Completed</p>
              <p class="card-status" *ngIf="tourExecutions.get(tour.id || -1)?.status === 2">Status: Abandoned</p>
              <p class="card-status" *ngIf="tourExecutions.get(tour.id || -1)?.status === null">Status: Not Started</p>
              <div *ngIf="tour.tags?.length; else noTags">
                <div class="tags-container">
                  <span *ngFor="let tag of tour.tags" class="tour-tag">{{ getTagName(tag) }}</span>
                </div>
              </div>
              <ng-template #noTags>
                <p>Tags: N/A</p>
              </ng-template>
            </div>
            <div class="button-group">
          <button mat-icon-button class="view-map-button" (click)="showMapForTour(tour)" color="accent">
            <div class="icon-text-container">
              <mat-icon>map</mat-icon>
              <span >View map</span>
            </div>
          </button>

          <button class="card-bottom-button1" color="accent" *ngIf="tourExecutions.get(tour.id || -1)?.status === null && !isActive" (click)="startTour(tour.id || -1)">
            <div class="icon-text-container">
              <mat-icon>flag</mat-icon>
              <span>START TOUR</span>
            </div>
          </button>

          <button class="card-bottom-button1" color="accent" *ngIf="tourExecutions.get(tour.id || -1)?.status === 0" (click)="abandonTourExecution(tourExecutions.get(tour.id || -1)?.id)">
            <div class="icon-text-container">
              <mat-icon>flag</mat-icon>
              <span>ABANDON TOUR</span>
            </div>
          </button>

          <button class="card-bottom-button1" color="accent" >
            <div class="icon-text-container">
              <mat-icon>warning</mat-icon>
              <span>REPORT PROBLEM</span>
            </div>
          </button>

          <button class="card-bottom-button1" color="accent" (click)="reviewTour(tour)">
            <div class="icon-text-container">
              <mat-icon>rate_review</mat-icon>
              <span>REVIEW TOUR</span>
            </div>
          </button>


          </div>

        </div>
          
        </mat-card-content>
      </mat-card>
</div>

<div class="chat-container">
  <a (mouseenter)="toggleChat(true)" 
  (mouseleave)="toggleChat(false)" class="fixed-circle">
    ? 
  </a>

  <div *ngIf="isChatOpen" class="chat-box">
    <p>{{chatMessage}}</p>
  </div>
</div>
