<div class="overlay" *ngIf="shouldDisplayMap" class="map-container" >
  <xp-map-for-tour [tour]="selectedTour" (onCloseMap)="closeMapForTour()"></xp-map-for-tour>
</div>
<div class="tour-card-container">
  <div *ngFor="let tour of tours; let i = index" class="tour-card">
    <h2>{{ tour.name }}</h2>
    <p>{{ tour.description }}</p>
    <p>Difficulty: {{ tour.difficulty }}</p>
    <p class="price">Price: ${{ purchasedTokens[i].price || tour.price }}</p>
    <div>
      <span *ngFor="let tag of tour.tags" class="tour-tag">{{ getTagName(tag) }}</span>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="showMapForTour(tour)">View map</button>
      <button class="right-button" mat-raised-button color="accent" (click)="reviewTour(tour)">Review tour</button>
    </div>
  </div>
</div>
