.map-frame {
  height: 100%; /* Full height of the parent container */
  width: 100%;
  border: 0.3vh solid rgb(233, 200, 255);
}

.map-frame > div {
  height: 50vh;
}

.map-frame.position-simulator #map {
  height: 88vh; /* Height for position simulator */
}