<form *ngIf="showCommentForm" [formGroup]="commentForm">
    <div>
      <mat-form-field>
        <mat-label>Text</mat-label>
        <input matInput formControlName="text" type="text"/>
       
        <mat-error *ngIf="commentForm.get('text')?.invalid && commentForm.get('text')?.touched">
          Tekst komentara ne može biti prazan!
        </mat-error>
      </mat-form-field>
  
      <button *ngIf="!shouldEdit" mat-raised-button type="submit" color="primary" (click)="addComment()" [disabled]="commentForm.invalid">Add</button>
      <button *ngIf="shouldEdit" mat-raised-button type="submit" color="primary" (click)="updateComment()" [disabled]="commentForm.invalid">Edit</button>
    </div>
  </form>
  
  