<div class="section-title">
    <h2>About app</h2>
</div>
 
<div class="section-container">
    <div class="section-content">
        <div class="section-text">
            <h2>
                <span class="marker">TOURISTS</span>
                Title 1
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, nisl at scelerisque pharetra, magna lacus molestie lacus, ut blandit nulla elit non augue. Sed ante turpis, viverra non urna non, porttitor efficitur lectus. Integer ut lacinia nibh. Vestibulum volutpat pretium fringilla. Mauris a volutpat est. Aenean vel purus ut lectus pulvinar ultricies. Nullam ac sagittis velit.
            </p>
        </div>
        <img src="assets/images/about-us/primer.png" alt="primer1" class="section-image" />
    </div>
</div>


<div class="section-container">
    <div class="section-content">
        <img src="assets/images/about-us/primer.png" alt="primer2" class="section-image" />
        <div class="section-text">
            <h2>
                Title 2
                <span class="marker">AUTHORS</span>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, nisl at scelerisque pharetra, magna lacus molestie lacus, ut blandit nulla elit non augue. Sed ante turpis, viverra non urna non, porttitor efficitur lectus. Integer ut lacinia nibh. Vestibulum volutpat pretium fringilla. Mauris a volutpat est. Aenean vel purus ut lectus pulvinar ultricies. Nullam ac sagittis velit.</p>
        </div>
    </div>
</div>