div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.mat-icon {
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Razmak između elemenata */
    width: 50%;
  }
  
  .image-preview {
    margin-top: 15px;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
  }