div {
    width: 400px;
    display:flex;
    flex-direction: column;
}

p {
    margin-top: 20px;
}

.form-style {
    position: absolute; /* Omogućava centriranje pomoću transformacije */
    top: 50%; /* Postavlja vrh forme na sredinu visine prozora */
    left: 50%; /* Postavlja levu ivicu forme na sredinu širine prozora */
    transform: translate(-50%, -50%);
}

a {
    color: #972230; /* Boja linka */
    text-decoration: none; /* Ukloni donju liniju */
    margin-left: 0px;
}

a:hover {
    text-decoration: underline; /* Donja linija na hover */
}

.dont-have-account {
    display: inline; 
    justify-content: space-between;
    margin-top: 5px;
}

.less-visible{
    display:inline;
    float:left;
    opacity: 70%;
}

.sign-up{
    display:inline;
    float:left;
    margin-left: 20px;
}
/*********/
.mat-form-field {
    width: 100%;
  }
  
  input[matInput] {
    margin: 5px 10px;
    width: 100%;
    height: 20px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #3498db;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #3498db 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #2c7cbf;
  }
  
  input[matInput]:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #3498db; /* color for focused label */
  }
  
  .mat-form-field-label {
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
  }