<div class="container">
    <div class="card-container">
        <div class="title-section" (click)="openBrowseTours()">
            <h1> View Tours</h1>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="content">
            <div class="main-blog">
                <div class="img-container">
                    <img *ngIf="mainTour.tags.length > 0" 
                    [src]="'assets/images/tag' + (getTagNumber(mainTour.tags[0]) + 1) + '.jpg'"  
                    alt="Main Tour Image">
                </div>
                <p class="main-title">{{ mainTour.tourName }}</p>
                <p class="main-description">{{ mainTour.tourDescription }} </p>
                <div class="tags-container">
                    <span *ngFor="let tag of mainTour.tags" class="tag">{{ tag }}</span>
                </div>
    
            </div>
            <div class="scroll-list">
                <ul>
                    <li *ngFor="let tour of tours" class="blog-card" (click) = setMainTour(tour)>
                        <img [src]="'assets/images/tag' + (getTagNumber(tour.tags[0]) + 1) + '.jpg'" alt="{{ tour.tourName }}" class="blog-image">
                        <span class="blog-title">{{ tour.tourName }}</span>
                      </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="title-section" (click)="openBlogs()">
            <h1> View Blogs</h1>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="content">
            <div class="main-blog">
                <div class="img-container">
                    <img [src]="mainBlog.imageUrl" alt="Main Blog Image">
                </div>
                <p class="main-title">{{ mainBlog.title }}</p>
                <p class="main-description">{{ mainBlog.description }}</p>
    
            </div>
            <div class="scroll-list">
                <ul>
                    <li *ngFor="let blog of blogs" class="blog-card" (click) = setMainBlog(blog)>
                        <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="blog-image">
                        <span class="blog-title">{{ mainBlog.title }}</span>
                      </li>
                </ul>
            </div>
        </div>
    </div>
</div>
