<div class="container">
    <div class="card-container">
        <div class="title-section">
            <h1> View Tours</h1>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="content">
            <div class="main-blog">
                <div class="img-container">
                    <img [src]="mainBlog?.imageUrl" alt="Main Blog Image">
                </div>
                <p class="main-title">Tour title</p>
                <p class="main-description">Tour description</p>
    
            </div>
            <div class="scroll-list">
                <ul>
                    <li *ngFor="let blog of blogs" class="blog-card">
                        <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="blog-image">
                        <span class="blog-title">{{ mainBlog?.title }}</span>
                      </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="title-section">
            <h1> View Blogs</h1>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="content">
            <div class="main-blog">
                <div class="img-container">
                    <img [src]="mainBlog?.imageUrl" alt="Main Blog Image">
                </div>
                <p class="main-title">Tour title</p>
                <p class="main-description">Tour description</p>
    
            </div>
            <div class="scroll-list">
                <ul>
                    <li *ngFor="let blog of blogs" class="blog-card">
                        <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="blog-image">
                        <span class="blog-title">{{ mainBlog?.title }}</span>
                      </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div *ngIf="user && (user.role === 'author' || user.role==='tourist')" (click)="openReviewDialog()">
        <mat-icon class="account-icon">star</mat-icon>
        <span class="user-text" style="text-align: center;" >RATE US</span>
    </div>
<div *ngIf="user && (user.role === 'administrator')">
    <mat-icon class="account-icon"  [routerLink]="['appReviews']">star</mat-icon>
    <span class="user-text" style="text-align: center;" >VIEW APP REVIEWS</span>
</div>
</div>
