body {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background-color: #f1f1f1;
  position: relative;
}

.navbar {
  background-color: #333;
  color: white;
}

.fixed-circle {
  position: fixed;
  bottom: 7vh;
  right: 7vh;
  width: 10vh;
  height: 10vh;
  background-color: #ef7ad99f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.fixed-circle:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.chat-box {
  position: fixed;
  bottom: 21vh; 
  right: 7vh;
  width: 200px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #ef7ad9;
  z-index: 50;
}

.chat-box::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 4vh;
  width: 4vh;
  height: 4vh;
  background-color: #fff;
  border-left: 1px solid #ef7ad9;
  border-bottom: 1px solid #ef7ad9;
  transform: rotate(-45deg);
}
