#account {
    display: flex; /* Horizontalni raspored za filtere i kartice */
    justify-content: space-between; /* Razmak između filtera i kartica */
    align-items: flex-start; /* Poravnanje po vrhu */
    margin: 20px; /* Margina oko kontejnera */
}

.filters {
    flex: 1; /* Pruža dodatni prostor filterima */
    max-width: 300px; /* Maksimalna širina filtera */
    margin-right: 20px; /* Razmak između filtera i kartica */
}

#account-cards {
    flex: 2; /* Kartice zauzimaju više prostora */
    display: flex;
    flex-direction: column; /* Kartice su jedna ispod druge */
    align-items: center; /* Centriranje kartica horizontalno */
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 50px;
    font-family: sans-serif;
    width: 100%; 
}

.card h3 {
    margin: 0;
    font-size: 1em;
    color: #3f51b5;
}

.card p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.card button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    white-space: nowrap;
    text-transform: uppercase;
}

.card button[disabled] {
    background-color: #bbb;
    cursor: not-allowed;
}

img {
    width: 40px;
}
