<div id="account">
    <p>Accounts</p>
    <div id="account-cards">
        <div *ngFor="let ac of account" class="card">
            <img src="assets/images/user.png"> 
            <h3>{{ ac.username }}</h3>
            <p><strong>Password:</strong> {{ ac.password }}</p>
            <p><strong>Role:</strong> {{ ac.role }}</p>
            <p><strong>Email:</strong> {{ ac.email }}</p>
            <p><strong>Is Active:</strong> {{ ac.isActive ? 'Yes' : 'No' }}</p>
            <button 
                color="primary" 
                (click)="onBlockClicked(ac)" 
                [disabled]="!ac.isActive">
                Deactivate
            </button>
        </div>
    </div>
</div>
