<div>
    <h2 id="title">Accounts</h2>
</div>
<div id="account">
    <div class="filters-container">
        <div class="filters">
            <p class="find">Find account</p>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input placeholder="Username or email" matInput type="text" [(ngModel)]="searchQuery" (input)="filterAccounts()"/>
            </mat-form-field>    
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select [(value)]="selectedRole" (selectionChange)="filterAccounts()">
                    <mat-option value="tourist">Tourist</mat-option>
                    <mat-option value="author">Author</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div id="account-cards">
        <div *ngFor="let ac of filteredAccounts" class="card">
            <img src="assets/images/user.png"> 
            <h3>{{ ac.username }}</h3>
            <p><strong>Password:</strong> {{ ac.password }}</p>
            <p><strong>Role:</strong> {{ ac.role }}</p>
            <p><strong>Email:</strong> {{ ac.email }}</p>
            <p><strong>Is Active:</strong> {{ ac.isActive ? 'Yes' : 'No' }}</p>
            <p *ngIf="ac.role === 'Tourist'" ><strong>Wallet:</strong> {{ ac.wallet }} AC</p>
            <div>
            <button color="accent" *ngIf="ac.role === 'Tourist'" (click)="openDepositModal(ac.wallet || 0, ac.id)">Deposit money</button>
            <button 
                color="accent" [ngClass]="{'deposit': ac.role !== 'Tourist'}"
                (click)="onBlockClicked(ac)" 
                [disabled]="!ac.isActive">
                Deactivate
            </button>
        </div>
        </div>
    </div>
</div>
