<!--<mat-toolbar color="primary">-->
    <div class="cart-container">
        <button mat-icon-button color="primary" (click)="openCart(shoppingCart.id || -1)" [matBadge]="cartItemCount$ | async" matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
          </button>
    </div>
  <!--</mat-toolbar>-->

<div class="container">
    <div *ngFor="let t of tours">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ t.tourName }}</mat-card-title>
                <mat-card-subtitle>
                    <span *ngFor="let tag of t.tags; let isFirst = first">
                        <mat-chip>{{ tag }}</mat-chip>
                    </span>
                </mat-card-subtitle>
            </mat-card-header>

            <div class="img-container">
                <div class="map-container" >
                    <xp-map [showingTour]="true" [selectedTourPoints]="[t.firstKeyPoint]"></xp-map>
                </div>
            </div>

            <mat-card-content>
                <p>{{ t.tourDescription }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>
                    Status: 
                    <span *ngIf="tourExecutions.get(t.tourId)?.status === 0">Active</span>
                    <span *ngIf="tourExecutions.get(t.tourId)?.status === 1">Completed</span>
                    <span *ngIf="tourExecutions.get(t.tourId)?.status === 2">Abandoned</span>
                    <span *ngIf="tourExecutions.get(t.tourId)?.status === null">Not Started</span>
                  </p>
              </mat-card-content>
              

            <mat-card-actions align="end">
                <button *ngIf="tourExecutions.get(t.tourId)?.status === null && !isActive" mat-button style="margin-right: 5vh;" (click)="startTour(t.tourId)">START TOUR</button>
                <button *ngIf="tourExecutions.get(t.tourId)?.status === 0" (click)="completeTourExecution(tourExecutions.get(t.tourId)?.id)" mat-button style="margin-right: 5vh;">COMPLETE TOUR</button>
                <button *ngIf="tourExecutions.get(t.tourId)?.status === 0" (click)="abandonTourExecution(tourExecutions.get(t.tourId)?.id)" mat-button style="margin-right: 5vh;" >ABANDON TOUR</button>
                <button mat-button (click)="openReviews(t.tourId)">SEE REVIEWS</button>
                <button mat-button (click)="addToCart(t)">BUY</button>
                <button mat-button (click)="reportProblem(t.tourId)" mat-button style="margin-right: 5vh;">Report Problem</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <xp-tour-search (tourSearchResults)="updateTours($event)"></xp-tour-search>
</div>