mat-card {
    width: 25vw;
    height: auto;
}

mat-card-content {
    overflow: auto;
}



:host ::ng-deep mat-card-subtitle {
    font-size: 6px;
    color: gray;
}

:host ::ng-deep mat-chip {
    font-size: 6px;
    margin: 3px;
    color: white;
    background-color: #3f51b5;
}

mat-card-subtitle{
    margin-bottom: 1em;
    font-size: 10px;
    height: 2.5em;
    overflow: hidden;
}
mdc-evolution-chip__text-label mat-mdc-chip-action-label{
    font-size: 6px;
}

.span {
    overflow: hidden;
}

.img-container {
    width: auto;
    height: 35vh;
}

.cart-container {
    margin-top: 30px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
button[mat-icon-button] {
    /*position: relative; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 1250px; 
    margin-top: -50px; */
    margin-left: 8%;
}

button[mat-icon-button] mat-icon {
    font-size: 30px;
    color: white; 
}
.cards {
    display: grid;
 /*   grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));*/
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    
}

.card {
    position: relative;
    display: block; 
    width: 24vw; 
    height: 60vh;
    min-width: 250px; /*mozda nije lose piksele za min*/
    max-width: 25vw;
    min-height: 350px;
    max-height: 30vw;
    border-radius: calc(40 * 1px);
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(162, 0, 255, 0.3); /* Senka iza cele kartice */
    overflow: hidden;
}

.card-image{
    width: 24vw; 
    height: 45vh;
    min-width: 250px;
    max-width: 25vw;
    
    
}

.card-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(38 * 1px) calc(38 * 1px) 0 0;
    background-color: white;
    transform: translateY(100%);
    transition: .2s ease-in-out;
    opacity: 95.5%;
    width: 100%;
    height: 70%;
}

.card:hover .card-overlay{
    transform: translateY(0);
  
  }


.card-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    overflow: hidden;
    white-space: wrap;
    /*max-height: 18em;*/
    padding: 1.5em;
    padding-bottom: 0;
    border-radius: calc(25*1px) calc(25*1px) 0 0;
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    background-color: white;
    opacity: 100%;
}

.card-header-text{
    width: 100%;
    max-height: 10em;
    height: 100%;
}

.card:hover .card-header{
    transform: translateY(0);
    height: fit-content;
    margin-bottom: 6px;
}

.card:hover .card-title{
    overflow: hidden;
    overflow-x: hidden;
    white-space: wrap;
    line-clamp: 2;
  }
  

.card-title{
    font-size: clamp(1em, 5vw, 2em);
    margin: 0;
    line-height: 1.1;
    max-height: calc(1.1em*2);
    width: 100%;
    line-height: 1;
    padding: .2em;
    color: #6A515E;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
}



.card-status{
    font-size: 1.25em;
    color: #6A515E;
    margin-left: 3%;
    opacity: 95%;
    
}

.card-footer{
    height: fit-content;
    max-height: 35%;
    padding: 0em 1em 2em 2em;
    margin: 0;
    color: #6A515E; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    opacity: 95%;
}
.card-footer-description{
    width: 75%;
    line-height: 1.1;
    font-size: 1.25em;
    height: calc(1.25em*3);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10%;
    margin-top: 2%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    background-color: #fff;
  }
  .top-container {
    flex: 0 0 10%; /* 10% visine stranice */
    /*background-color: #e0e0e0;*/
    display: flex;
    padding-top: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-container {
    flex: 1; /* Preostali prostor posle 10% zauzima content-container */
    display: flex;
  }
  
  /* Left side container */
  .left-side-container {
    flex: 0 0 20%;
    /*background-color: #d1e7dd;*/
    margin-right: 1%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
  }
  
  /* Center container */
  .center-container {
    width: 60%;

   
  }
  
  /* Right side container */
  .right-side-container {
    flex: 0 0 15%;
    /*background-color: #d1e7dd;*/
    display: flex;
  }

.card-bottom-button{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 2%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}

.card-bottom-button1{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 18%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}
.card-bottom-button2{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 34%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}
.card-bottom-button3{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 50%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}
.card-bottom-button4{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 66%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}

.card-bottom-button5{
    position: absolute; /* Omogućava precizno postavljanje unutar kartice */
    bottom: 4%; /* Udaljenost od dna kartice */
    right: 82%; /* Udaljenost od desne ivice kartice */
    width: 15%; /* Širina placeholdera */
    height: 8%; /* Visina placeholdera */
    background-color: #a36484; /*4CAF50*/
    color: white; 
    border: none; 
    padding: 0;
    border-radius: 5px; 
    opacity: 100%;
    z-index: 10;
    cursor: pointer; 
    justify-content: center;
}

.map-keypoint{
    width: 100%;
}

.cart-container {
    position: relative;
}

.cart-preview {
    position: absolute;
    top: 50px;  /* Adjust as necessary */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 700px;
    z-index: 1000;
    border-radius: 8px; 
    display: flex;              /* Flexbox for the entire preview */
    flex-direction: column;     /* Stack items vertically */
}

.cart-item-preview {
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f0;
}

.cart-item-preview:last-child {
    border-bottom: none;
}

.cart-item {
    display: flex;              /* Flexbox container */
    align-items: center;        /* Vertically center the items */
    gap: 10px;                  /* Adds space between image and text */
}

.card-image-preview {
    width: 150px;               /* Set the image size */
    height: 100px;
    object-fit: cover;          /* Makes sure the image maintains aspect ratio */
}

.tour-info {
    display: flex;
    flex-direction: column;      /* Stack text elements vertically */
    justify-content: center;     /* Vertically center text */
}

.tour-name {
    font-weight: bold;
    margin-bottom: 12px;
    color: #666;
    font-size: 16px;
}

.tour-price {
    font-size: 14px;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 2px solid #333;
}

.price-total {
    align-self: flex-end;           /* Push the total price to the right */
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 130px;
}


/*STILOVI ZA BUNDLE*/
/* Kontejner za sve bundle kartice */
.bundles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

/* Pojedinačna kartica za bundle */
.bundle-card-container {
    position: relative;
    display: block;
    width: 40vw;
    max-width: 60vw;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(162, 0, 255, 0.2);
    padding: 2rem;
    background-color: #fff;
}

.bundle-card-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.bundle-title {
    font-size: 1.5rem;
    color: #6A515E;
    margin: 0.5rem 0;
}

.bundle-price {
    font-size: 1.2rem; color: #6A515E; margin-bottom: 1.5rem; 
}

.bundle-buy-btn { 
    padding: 0.5rem 1.2rem; 
    font-size: 15px !important;
    border: none; 
    background-color: #a36484; 
    color: white; 
    border-radius: 7px; 
    cursor: pointer; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease; 
}



/* Kontejner za kartice tura */
.tours-grid {
    display: grid;
  /*  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

/* Pojedinačna kartica za turu */
.tour-card-container {
    position: relative;
    display: block;
    width: 16vw;
    height: 20vw;
    min-width: 200px;
    max-width: 250px;
    min-height: 250px;
    max-height: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(162, 0, 255, 0.2);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tour-card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(162, 0, 255, 0.2);
}

.tour-card-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tour-card-overlay {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0 0 15px 15px;
    padding: 1rem;
    text-align: center;
}

.tour-card-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #6A515E;
}



.tour-card-footer {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #6A515E;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tour-card-description {
    font-size: 0.9rem;
    color: #6A515E;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.tour-card-buttons {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-top: 1rem;
}

.tour-card-btn-reviews,
.tour-card-btn-map {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #a36484;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7rem;
    transition: background-color 0.3s ease;
}




  /*
:host ::ng-deep .leaflet-container {
     height: 150% !important;
    }*/ 

    .old-price {
        text-decoration: line-through;
        color: red; /* Optional: change color to red for crossed-out prices */
    }
    
    .new-price {
        font-weight: bold;
        color: green; /* Optional: change color to highlight the discount */
    }