.club-layout-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.club-table-container {
  flex: 2; 
  margin-right: 20px;
  max-width: 950px;
}

.club-form-container {
  flex: 1;
  max-width: 150px; 
  margin-left: 100px;
  margin-top: 100px;
}

.club-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.club-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.club-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.club-info {
  flex: 1;
  margin-right: 15px;
}

.club-info h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #007bff;
}

.club-info p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #6c757d;
}

.club_h1 {
  color: #007bff;
  font-size: 2.5rem;
  display: inline; 
}

.club-image-container {
  flex-shrink: 0;
}

.club-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button {
  background-color: #196fb5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 10px; 
}

.custom-button:hover {
  background-color: #155a8a;
}

.error-message {
  color: red;
  font-size: 12px;
}

.join-button{
    align-self: flex-end; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.cancel-button{
    align-self: flex-end; 
    background-color: rgb(245, 108, 108); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.owner-button{
    align-self: flex-end; 
    background-color: rgb(253, 250, 73); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}


* {
  box-sizing: border-box;
}


.cards {
  display: grid;
  height: 100%;
  width: 100vw; /*ovo je upitno*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 20vw));
  grid-auto-rows:max-content;
  gap: 6vh;
  margin: 0;
  padding: 2vh;
  list-style-type: none;
  align-content: top;
  justify-items: center;
  padding-top: 10%;
}

.card {
  position: relative;
  display: block; 
  width: 16vw; 
  height: 16vw;
  min-width: 250px; /*mozda nije lose piksele za min*/
  max-width: 25vw;
  min-height: 350px;
  max-height: 30vw;
  border-radius: calc(40 * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(162, 0, 255, 0.3); /* Senka iza cele kartice */
}

.card-image{
  width: 16vw; 
  height: 16vw;
  min-width: 250px;
  max-width: 25vw;
  min-height: 350px;
  max-height: 30vw;
}

.card-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(38 * 1px) 0 0 0;
  background-color: white;
  transform: translateY(100%);
  transition: .2s ease-in-out;
  opacity: 95.5%;
  width: 100%;
  height: 70%;
}



.card:hover .card-overlay{
  transform: translateY(0);

}



.card-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 45%;
  overflow: hidden;
  white-space: wrap;
  /*max-height: 18em;*/
  gap: 2em;
  padding: 1.5em;
  border-radius: calc(40*1px) 0 0 0;
  background-color: white;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  background-color: white;
  opacity: 95%;
}

.card-header-text{
  width: 100%;
  max-height: 10em;
  height: 100%;
}

.card:hover .card-header{
  transform: translateY(0);
}

.card:hover .card-title{
  overflow: hidden;
  overflow-x: hidden;
  white-space: wrap;
  line-clamp: 2;
}


.card-title{
  font-size: clamp(1.25em, 5vw, 2em);
  margin: 0 0 .3em;
  line-height: 1.1;
  max-height: calc(1.1em*2);
  width: 100%;
  line-height: 1;
  padding: .2em;
  color: #6A515E;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
}



.card-status{
  font-size: 1em;
  color: #6A515E;
  margin-left: 3%;
  opacity: 95%;
}


.card-footer{
  height: fit-content;
  max-height: 35%;
  padding: 0em 1em 2em 2em;
  margin: 0;
  color: #6A515E; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  opacity: 95%;
}

.card-footer-description{
  width: 75%;
  line-height: 1.1;
  font-size: 1.25em;
  height: calc(1.25em*4);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10%;
}

.card-placeholder {
  position: absolute; /* Omogućava precizno postavljanje unutar kartice */
  bottom: 5%; /* Udaljenost od dna kartice */
  right: 6%; /* Udaljenost od desne ivice kartice */
  width: 15%; /* Širina placeholdera */
  height: 10%; /* Visina placeholdera */
  background-color: transparent;
  border-radius: 4px; /* Opcionalno za zaokružene uglove */
  opacity: 100%;
  z-index: 1000;
}

.card-join-button{
  position: absolute; /* Omogućava precizno postavljanje unutar kartice */
  bottom: 5%; /* Udaljenost od dna kartice */
  right: 6%; /* Udaljenost od desne ivice kartice */
  width: 15%; /* Širina placeholdera */
  height: 10%; /* Visina placeholdera */
  background-color: #a36484; /*4CAF50*/
  color: white; 
  border: none; 
  padding: 0;
  border-radius: 5px; 
  opacity: 100%;
  z-index: 10;
  cursor: pointer; 
  justify-content: center;
}
.card-cancel-button{
  position: absolute; /* Omogućava precizno postavljanje unutar kartice */
  bottom: 5%; /* Udaljenost od dna kartice */
  right: 6%; /* Udaljenost od desne ivice kartice */
  width: 15%; /* Širina placeholdera */
  height: 10%; /* Visina placeholdera */
  background-color: rgba(235, 99, 99, 0.425); 
  color: white; 
  border: none; 
  padding: 0; 
  border-radius: 5px; 
  opacity: 100%;
  z-index: 10;
  cursor: pointer; 
}

.overlay{
  position: fixed; /* Fiksira overlay na ekranu */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Poluprozirna pozadina */
  z-index: 100; /* Ispod mape, iznad ostalih elemenata */
}

.form{
  width: 80%;
  height: 80%;
  position: relative;
  left: 40%;
  top: 30%;
  z-index: 1000;
  background: rgba(207, 207, 207, 1);
  border: 1px solid #ffffff;
  opacity: 100%;
  width: max-content;
  height: max-content;
  color: white;
  display: grid;
  padding: 1%;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  background-color: #fff;
}
.top-container {
  flex: 0 0 10%; /* 10% visine stranice */
  /*background-color: #e0e0e0;*/
  display: flex;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-container {
  flex: 1; /* Preostali prostor posle 10% zauzima content-container */
  display: flex;
}

/* Left side container */
.left-side-container {
  flex: 0 0 15%;
  /*background-color: #d1e7dd;*/
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 10%;
  text-align: center;
}

/* Center container */
.center-container {
  width: 70%;
  flex: 0 0 65%;
 /* background-color: #f8d7da;*/
  display: flex;
}

/* Right side container */
.right-side-container {
  flex: 0 0 15%;
  /*background-color: #d1e7dd;*/
  display: flex;
}