.keypoint-form-div{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    background-color: rgb(253, 247, 239);
    padding: 2%;
    opacity: 90%;
}
.form-map-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: fit-content;
}
.latitude-form{
    display:none;
}
.longitude-form{
    display:none;
}

.map-container{
    width: 100%;
}
.main{
    background-color: red;
    width: 700px;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
}

::ng-deep .edit-map #map {
    width: 100%;
    height: 89vh !important;
  }
  

.main-disabled {
    background-color: red;
    width: 165vh;
    margin-right: 9vh;
    margin-bottom: 10%;
    margin-top: 27vh;
}