.keypoint-form-div{
    display: flex;
    flex-direction: column;
}

.form-map-container{
    display: flex;
   flex-direction: column;
   width: 50vw;
   justify-content: center;
   margin-bottom: 2vh;
   align-items: center;
}

.keypoint-form-div{

    width: 100%;
    margin-bottom: 2vh;
}