<div [ngClass]="{'main': true, 'main-disabled': !shouldEdit}">
    <div class="form-map-container" [ngStyle]="{ top: y + 'px', left: x + 'px' }">
        <form  [formGroup] = "keypointForm" class="keypoint-form-div">
    
            <div class="keypoint-form-div" *ngIf="isFormVisible"
            >
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" type="text"/>
                    
                </mat-form-field>
                <mat-form-field  class="longitude-form">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="longitude" type="number"/>
                </mat-form-field>
                <mat-form-field  class="latitude-form">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="latitude" type="number"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" type="text"/>
                </mat-form-field>
                <mat-select formControlName="publicStatus" required>
                    <mat-option [value]=0>Private</mat-option>
                    <mat-option [value]=1>Request for Public</mat-option>
                </mat-select>
                
                    <input
                    type="file"
                    (change)="onFileSelected($event)"/>
                    <mat-label>Upload Image</mat-label>
                
                
                <button mat-raised-button *ngIf="!shouldEdit"  type="submit" color="accent" (click)="createKeyPoint()">Create Keypoint</button>
                <button mat-raised-button *ngIf="shouldEdit" type="submit" color="accent" (click) = "updateKeyPoint()">Update Keypoint</button>
            </div>
        
        </form>
    
    </div>
    
    <div class="map-container" [ngClass]="{'edit-map': !shouldEdit}">
        <xp-map   (mousedown)="onMouseDown($event)"
                  (mouseup)="onMouseUp($event)"
                  #map
        [shouldEditKp] = "shouldEditKp" [selectedKeypoint]="keypoint"  [registeringObject] = "registeringObj" [registerObjectRoute]="registerObjRoute" (latitudeChanged)="setLatitude($event)" (longitudeChanged)="setLongitude($event)" [selectedTourPoints]="tourKeyPoints"></xp-map>
    </div>
</div>