<div>

    <table>
      <thead>
        <tr>
            <th>Tekst</th>
            <th>Vreme kreiranja</th>
            <th>Vreme azuriranja</th>
            <th>Autor</th>
            <th>Uloga</th>
            <th></th>
        </tr>

      </thead> 
      
      <tbody>
        <tr *ngFor="let c of comment">

            <td>{{c.text}}</td>
            <td>{{c.createdAt | date: 'short'}}</td>
            <td>{{c.updatedAt | date: 'short'}}</td>
           <td>{{c.username}}</td>
           
            <td>
              
              <button  *ngIf="currentUser && currentUser.role==='tourist'"  color="primary" (click)="onEditClicked(c)" mat-icon-button>
                  <mat-icon>edit</mat-icon>
              </button>
              <button  *ngIf="currentUser && currentUser.role==='tourist'"  color="acent" (click)="deleteComment(c)"  mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr><button  *ngIf="currentUser && currentUser.role==='tourist'"  color="primary" (click)="onAddClicked()" mat-icon-button>
          <mat-icon>add</mat-icon>
      </button></tr>
     

      </tbody>
    </table>
    <div>
      <xp-comment-form *ngIf="shouldRenderCommentForm"  (commentUpdated)="getCommentByPost(postId)"  [comment]="selectedComment" [shouldEdit]="shouldEdit" [postId]="postId"></xp-comment-form>
    </div>
   
</div>
