<div id="main-content">
  <div *ngIf="postDetails" id="post" class="card post-card">
    <div id="post-details">
      <div class="post-content">
        <div>
          <img *ngIf="postDetails.imageUrl" [src]="getImage(postDetails.imageUrl)" alt="{{ postDetails.title }}" class="post-image">
          <div *ngIf="!postDetails.imageUrl" class="no-image">No Image Available</div>
        </div>
        <div>
          <h2 class="post-title">{{ postDetails.title }}</h2>
          <p class="post-date">Created At: {{ postDetails.createdAt | date: 'short' }}</p>
          <p class="post-description"><markdown>{{ postDetails.description }}</markdown></p>
        </div>
      </div>
      
      <!-- Voting section inside the post card -->
      <div class="vote-section-horizontal">
        <p class="rate-label">Rate:</p>
        <button *ngIf="currentUser && currentUser.role==='tourist'&& postDetails.status!==2" class="upvote-btn" [ngClass]="{'active-vote': userHasUpvoted}" (click)="upvotePost()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <p class="vote-count">{{ postDetails.ratingSum }}</p>
        <button *ngIf="currentUser && currentUser.role==='tourist' && postDetails.status!==2" class="downvote-btn" [ngClass]="{'active-vote': userHasDownvoted}" (click)="downvotePost()">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <p class="rate-label">Comments:</p>
        <p class="comment-count">{{comment.length}}</p>
      </div>
    </div>
  </div>

  <!-- Comment section -->
  <div *ngFor="let c of comment" class="card comment-card">
    <p class="comment-text">{{ c.text }}</p>
    <p class="comment-author">Author: {{ c.username }}</p>
    <p class="comment-date">Created At: {{ c.createdAt | date: 'short' }}</p>
    <p class="comment-updated">Updated At: {{ c.updatedAt | date: 'short' }}</p>
    <div class="actions">
      <button *ngIf="currentUser && currentUser.role === 'tourist' && currentUser.id === c.userId && postDetails.status!==2" class="primary" (click)="onEditClicked(c)">
        <mat-icon>edit</mat-icon> Edit
      </button>
      <button *ngIf="currentUser && currentUser.role==='tourist' && currentUser.id === c.userId && postDetails.status!==2" class="warn" (click)="deleteComment(c)">
        <mat-icon>delete</mat-icon> Delete
      </button>
    </div>
  </div>

  <button *ngIf="currentUser && currentUser.role==='tourist' && postDetails.status!==2" class="primary add-comment-btn" (click)="onAddClicked()">
    <mat-icon>add</mat-icon> Add Comment
  </button>

  <div>
    <xp-comment-form *ngIf="shouldRenderCommentForm" (commentUpdated)="getPostDetails(postId)" [comment]="selectedComment" [shouldEdit]="shouldEdit" [postId]="postId"></xp-comment-form>
  </div>

  <button mat-button color="primary" [routerLink]="['/blogPost']">
    <mat-icon>arrow_back</mat-icon> Back to see all posts
  </button>
</div>
