<div class="container">
    <!-- Form to create a new encounter -->
    <div class="encounter-form">
      <h2>Create Encounter</h2>
  
      <form (ngSubmit)="onSubmit()">
        <!-- Encounter Type Dropdown -->
        <div>
          <label for="encounterType">Encounter Type</label>
          <select id="encounterType" [(ngModel)]="selectedEncounterType" name="encounterType" (change)="onEncounterTypeChange()">
            <option *ngFor="let type of encounterTypes" [value]="type" >{{ type }}</option>
          </select>
        </div>
  
        <!-- Social Encounter Type -->
        <div *ngIf="selectedEncounterType === 'Social'">
            <label for="requiredParticipants">Required Participants</label>
            <input type="number" id="requiredParticipants" [(ngModel)]="social.requiredParticipants " 
            name="requiredParticipants" />
            <label for="radius">Radius (km)</label>
            <input type="number" id="radius" [(ngModel)]="social.radius" name="radius" />
        </div>
  
        <!-- HiddenLocation Encounter Type -->
        <div *ngIf="selectedEncounterType === 'HiddenLocation'">
            <p><mat-slide-toggle [(ngModel)]="isChosingSecretLocation" [ngModelOptions]="{standalone: true}"
              >Choose secret location</mat-slide-toggle></p>
            <br/>
            <label for="imageUrl">!!!Image URL //PROMENITI U FILE</label>
            <input type="text" id="imageUrl" [(ngModel)]="hiddenLocation.imageUrl" name="imageUrl" />
            <br/>
            <label for="activationRadius">Activation Radius</label>
            <input type="number" id="activationRadius" [(ngModel)]="hiddenLocation.activationRadius" name="activationRadius" />
            
            <label for="longitude">Hidden Location Longitude</label>
            <input type="number" id="longitude" [(ngModel)]="hiddenLocation.longitude" name="longitude" />
              
            <label for="latitude">Hidden Location Latitude</label>
            <input type="number" id="latitude" [(ngModel)]="hiddenLocation.latitude" name="latitude" />
        </div>
  
        <!-- Misc Encounter Type -->
        <div *ngIf="selectedEncounterType === 'Misc'">
            <label for="actionDescription">Action Description</label>
            <input type="text" id="actionDescription" [(ngModel)]="misc.actionDescription" name="actionDescription" />
        </div>
  
  
        <!-- Title and Description Fields -->
        <div>
          <label for="title">Title</label>
          <input type="text" id="title" [(ngModel)]="encounter.title" name="title" required />
  
          <label for="description">Description</label>
          <textarea id="description" [(ngModel)]="encounter.description" name="description" required></textarea>
        </div>
  
        <!-- Longitude and Latitude Fields -->
        <div>
          <label for="longitude">Longitude</label>
          <input type="text" id="longitude" [(ngModel)]="encounter.longitude" name="longitude" readonly />
  
          <label for="latitude">Latitude</label>
          <input type="text" id="latitude" [(ngModel)]="encounter.latitude" name="latitude" readonly />
        </div>
  
        <button type="submit" [disabled]="!encounter.longitude || !encounter.latitude || !encounter.title || !encounter.description">Submit Encounter</button>
      </form>
    </div>
  
    <!-- Map Component -->
    <div class="map">
        <xp-map class="card-map" [showEncounters]="true" [selectedEncounterPoints]="encounters" 
        [registeringObject]="true" [shouldEditKp]="false" (latitudeChanged)="onLatitudeChanged($event)"
        (longitudeChanged)="onLongitudeChanged($event)" (mapClick)="onMapClick($event)"></xp-map>
    </div>
  </div>  