
<div class="tour-details-container">
<div class="tour-info-left" >
    <div>
        <h2 style="font-family: 'Poppins', sans-serif;" >Your location:</h2>
        <p *ngIf="!currentPosition">Please select your current position on map.</p>
        <p *ngIf="currentPosition"><strong>Latitude: </strong>{{currentPosition.latitude | number:'1.2-2'}}</p>
        <p *ngIf="currentPosition"><strong>Longitude: </strong>{{currentPosition.longitude | number:'1.2-2'}}</p>
    </div>
    <div *ngIf="tourExecution">
    <h2 style="font-family: 'Poppins', sans-serif;">Tour Information:</h2>
    <p><strong>Name:</strong> {{tour.name}}</p>
    <p><strong>Description:</strong> {{tour.description}}</p>
    <p><strong>Difficulty:</strong> {{tour.difficulty}}</p>
    <p><strong>Length:</strong> {{ tour.lengthInKm | number: '1.2-2'}}km</p>
    <p  *ngIf="tourExecution.status === 0"><strong>Status:</strong> Active</p>
    <p  *ngIf="tourExecution.status === 1"><strong>Status:</strong> Completed</p>
    <p  *ngIf="tourExecution.status === 2"><strong>Status:</strong> Abandoned</p>
    
</div>  
<button mat-raised-button color="accent" *ngIf=" tourExecution && tourExecution.status === 0" (click)="abandonTourExecution(tourExecution.id)" 
style="margin-bottom: 10px;">Abandon tour</button>  

    <label><b>Activated encounters: </b></label>
    <br/>
    <ng-container *ngIf="activeEncounters.length === 0; else encounterList">
      <label>No active encounters!</label>
    </ng-container>
    <ng-template #encounterList>
      <div class="encounter-list" *ngFor="let e of activeEncounters">
        <div class="encounter-item">
          <label>{{ e.title }}</label>
          <!-- Hover bubble (simple empty bubble) -->
          <div class="hover-bubble">
            <label>{{ e.description }}</label><br/>
            <label>{{ e.type }}</label>
            <br/>
            <ng-container *ngIf="e.type === 1; else notHidden">
              <img src="src\assets\images\logo.png">
            </ng-container>
            <ng-template #notHidden>
              <label>Not hidden</label>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>
<button mat-raised-button color="accent" *ngIf=" tourExecution && tourExecution.status === 0" (click)="abandonTourExecution(tourExecution.id)" >Abandon tour</button>  
    <div class="points-audio-list">
      <h2 style="font-family: 'Poppins', sans-serif;">Keypoints:</h2>
      <table class="audio-table">
    
        <tbody>
            <tr *ngFor="let item of selectedTourPoints">
              
                <td class="name-td">{{ item.name }}</td>
             
                <td class="button-td">
                  <div class="btn-container">
                    <button color="primary" (click)="playKeypointAudio(item.description)"  mat-icon-button>
                       <mat-icon>play_arrow</mat-icon>
                    </button>

                  
                
                    <button color="primary" (click)="stopKeypointAudio()"  mat-icon-button>
                     <mat-icon>stop</mat-icon>
                  </button>
                </div>
                </td>
            </tr>
           
        </tbody>
    </table>
    </div>
  </div>

<div class="position-simulator-container">
    <xp-map  
        [selectedTourPoints]="selectedTourPoints" 
        [selectedLatitude]="currentPosition.latitude" 
        [selectedLongitude]="currentPosition.longitude" 
        [positionSimulatorActivated]="positionSimulatorActivated" 
        (touristPositionCreate)="createPosition($event)" 
        (touristPositionUpdate)="updatePosition($event)"
        [selectedEncounterPoints]="encounters"
        [showEncounters]="true">
    </xp-map>
</div>
<div class="chat-container">
    <a (mouseenter)="toggleChat(true)" 
    (mouseleave)="toggleChat(false)" class="fixed-circle">
      ? 
    </a>
  
    <div *ngIf="isChatOpen" class="chat-box">
      <p>{{chatMessage}}</p>
    </div>
  </div>
</div>


