.sales-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .sales-card {
    margin-bottom: 20px;
  }
  
  .sales-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: accent;
    margin-left: 40%;
  }
  
  .sales-table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sales-table th, .sales-table td {
    padding: 12px;
    text-align: left;
  }
  
  .sales-table th {
    background-color: #a36484;
    color: white;
  }
  
  .sales-table td {
    border-bottom: 1px solid #ddd;
  }
  
  .update-sale-form {
    margin-top: 30px;
  }
  
  .update-sale-form h2 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-left: 24%;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-actions {
    display: flex;
    margin-left: 20%;
    gap: 10px;
  }
  
  button {
    min-width: 120px;
  }
  
  .mat-raised-button {
    font-size: 14px;
    margin-left: 17%;
  }
  
  
  .mat-card-content p {
    font-size: 16px;
    color: #757575;
  }
  